html {
  background: url(../img/bg-min.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
}
main {
  background: url(../img/bg-min.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: Nunito;
}

.main.thanks {
  height: 100%;
}

.screen {
  height: 100%;
  backdrop-filter: blur(50px);
  background-color: #00000070;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  opacity: 1;
  transition: opacity 0.4s ease;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 0;
}

.fade-in.showing {
  opacity: 1;
}

.modal__content {
  border-radius: 20px;
  background: #fff;
  max-width: 335px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal__content.intro {
  gap: 40px;
}

.intro__heading {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  line-height: 120%;
}

.intro__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.intro__text {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.intro__text.bold {
  font-weight: 700;
  line-height: 28px;
}

.timer {
  color: #000;
  text-align: center;
  font-size: 52px;
  font-weight: 700;
  line-height: 62px;
}

.intro__button {
  display: flex;
  min-height: 55px;
  padding: 17px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none !important;
  background: #ff9d00;
  box-shadow: 0px 1px 4px 0px rgba(242, 166, 36, 0.2);
  color: #363636;
  font-size: 16px;
  font-weight: 800;
  line-height: 21px;
  transition: all 0.25ms ease;
  cursor: pointer;
}

.intro__button:active {
  -webkit-box-shadow: 0px 11px 30px 8px rgba(171, 171, 171, 1);
  -moz-box-shadow: 0px 11px 30px 8px rgba(171, 171, 171, 1);
  box-shadow: 0px 11px 30px 8px rgba(171, 171, 171, 1);
}

.modal__content.quiz {
  gap: 16px;
}

.quiz__heading {
  color: #000;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
}

.quiz__items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.quiz__item {
  padding: 12.8px 16px;
  border-radius: 5px;
  border: 1px solid #000;
  width: 100%;
  display: flex;
  align-items: center;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  background: transparent;
  gap: 16px;
  transition: all 0.25s ease;
  cursor: pointer;
}

.quiz__item:active {
  -webkit-box-shadow: 0px 11px 30px 8px rgba(171, 171, 171, 1);
  -moz-box-shadow: 0px 11px 30px 8px rgba(171, 171, 171, 1);
  box-shadow: 0px 11px 30px 8px rgba(171, 171, 171, 1);
}

.quiz__circle {
  border-radius: 10px;
  background: #c3c3c3;
  width: 20px;
  height: 20px;
  transition: background 0.15s ease;
}

.quiz__circle.active {
  background: #ff9d00;
}

.form-heading {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  margin-bottom: 13px;
}

.form-subheading {
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 25px;
}

.input-label {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
  color: rgba(0, 0, 0, 0.7);
  font-family: Nunito;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1.2px;
}

.checkbox-text {
  color: #000;
  font-size: 12px;
  line-height: 16.8px;
  margin-left: 8px;
}

.checkbox-text > .input-accent {
  color: #ff9d00;
}

.form-input {
  border-radius: 4px;
  border: 1px solid #000;
  height: 60px;
  font-family: Nunito;
  font-size: 16px;
}
.form-input::placeholder {
  color: rgba(0, 0, 0, 0.7);
  font-family: Nunito;
  font-size: 15px;
  font-weight: 500;
}

.checkbox-wrapper-23 *,
.checkbox-wrapper-23 *:after,
.checkbox-wrapper-23 *:before {
  box-sizing: border-box;
}

.checkbox-wrapper-23 input {
  position: absolute;
  opacity: 0;
}

.checkbox-wrapper-23 input:checked + label svg path {
  stroke-dashoffset: 0;
}

.checkbox-wrapper-23 input:checked + label {
  background-color: #ff9d00;
  border: none;
}

.checkbox-wrapper-23 input:focus + label {
  transform: scale(1.03);
}

.checkbox-wrapper-23 input + label {
  display: block;
  border: 2px solid #333;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.checkbox-wrapper-23 input + label:active {
  transform: scale(1.05);
  border-radius: 8px;
}

.checkbox-wrapper-23 input + label svg {
  pointer-events: none;
  padding: 10%;
}

.checkbox-wrapper-23 input + label svg path {
  fill: none;
  stroke: #333;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 100;
  stroke-dashoffset: 101;
  transition: all 250ms cubic-bezier(1, 0, 0.37, 0.91);
}

.main-thankyou {
  width: 100%;
  padding: 20px;
  background-position: top;
  background-repeat: no-repeat;
  position: absolute;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.modal__content.thanks {
  gap: 35px;
}

.main-thankyou__block {
  border-radius: 10px;
  border: 1px solid #ff9d00;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  max-width: 345px;
}

.main-thankyou__block > h3 {
  color: #ff9d00;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.28px;
}

.main-thankyou__block > span {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.128px;
}

.timer.thanks {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.main-image.thanks > img {
  width: 100px;
  animation: ring 1.5s infinite ease-in-out;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  45% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.main-thankyou__testimonials {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 100%;
  max-width: 1080px;
}

.testimonials__heading {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.testimonials__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.testimonials__item {
  display: flex;
  padding: 15px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  width: 100%;
  max-width: 345px;
}

.testimonials__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 345px;
  gap: 10px;
}

.testimonials__name {
  display: flex;
  gap: 12px;
  align-items: center;
}

.testimonials__contact,
.testimonials__city {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 120%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.testimonials__text {
  color: #000;
  font-family: Inter;
  font-size: 12px;
  line-height: 150%;
}

@media (min-width: 768px) {
  .modal__content {
    max-width: 700px;
    padding: 60px;
  }
  .modal__content.intro {
    gap: 60px;
  }
  .intro__heading {
    font-size: 56px;
    max-width: 375px;
  }
  .intro__content {
    gap: 30px;
  }
  .intro__text.bold {
    font-size: 30px;
    line-height: 36px;
  }
  .intro__button {
    font-size: 22px;
  }
  .modal__content.quiz {
    max-width: 960px;
    gap: 30px;
  }
  .modal__content.quiz.form {
    max-width: 760px;
  }
  .quiz__items {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .quiz__item {
    max-width: 410px;
    font-weight: 700;
  }
  .quiz__heading {
    align-self: flex-start;
    line-height: 38.4px;
    font-size: 32px;
    font-weight: 600;
    text-align: left;
  }
  .form-group {
    max-width: 440px;
    margin: 0 auto 20px auto;
  }
  .form-heading {
    font-size: 28px;
    line-height: 38px;
  }
  .form-subheading {
    margin-bottom: 40px;
  }
  .main-thankyou__block {
    max-width: none;
  }
  .testimonials__info {
    max-width: none;
  }
  .testimonials__item {
    max-width: none;
  }
}
