main {
  background: url(../img/bg-min.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  font-family: Nunito;
}

.screen {
  height: 100%;
  backdrop-filter: blur(50px);
  background-color: #00000070;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.modal__content {
  border-radius: 20px;
  background: #fff;
  max-width: 335px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal__content.intro {
  gap: 40px;
}

.intro__heading {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  line-height: 120%;
}

.intro__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.intro__text {
  color: #000;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.intro__text.bold {
  font-weight: 700;
  line-height: 28px;
}

.timer {
  color: #000;
  text-align: center;
  font-size: 52px;
  font-weight: 700;
  line-height: 62px;
}

.intro__button {
  display: flex;
  min-height: 55px;
  padding: 17px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: #ff9d00;
  box-shadow: 0px 1px 4px 0px rgba(242, 166, 36, 0.2);
  color: #363636;
  font-size: 16px;
  font-weight: 800;
  line-height: 21px;
}

.modal__content.quiz {
  gap: 16px;
}

.quiz__heading {
  color: #000;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
}

.quiz__items {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.quiz__item {
  padding: 12.8px 16px;
  border-radius: 5px;
  border: 1px solid #000;
  width: 100%;
  display: flex;
  align-items: center;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  background: transparent;
  gap: 16px;
}

.quiz__circle {
  border-radius: 10px;
  background: #c3c3c3;
  width: 20px;
  height: 20px;
}
