@font-face {
  font-family: "TT Firs Neue";
  src: url(../fonts/TTFirsNeue-Light.woff2);
  font-weight: 300;
}
@font-face {
  font-family: "TT Firs Neue";
  src: url(../fonts/TTFirsNeue-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "TT Firs Neue";
  src: url(../fonts/TTFirsNeue-Medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: "TT Firs Neue";
  src: url(../fonts/TTFirsNeue-DemiBold.woff2);
  font-weight: 600;
}
@font-face {
  font-family: "TT Firs Neue";
  src: url(../fonts/TTFirsNeue-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Mont";
  src: url(../fonts/Mont-SemiBold.woff);
  font-weight: 600;
}
body {
  background: #141414;
  font-family: "TT Firs Neue";
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px 35px 20px;
  margin: 0 auto;
  max-width: 500px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
}

.header__text {
  color: #e0e0e0;
  text-align: right;
  font-size: 15.75px;
  font-weight: 400;
  line-height: 22px;
  max-width: 135px;
}

.hero {
  gap: 45px;
  padding: 0px 4px 34px 4px;
  width: 100%;
}

.hero--top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  background: #2a2a2a;
  gap: 25px;
  padding: 40px 12.5px;
  width: 100%;
  max-width: 500px;
}

.hero__heading {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
}

.hero__subheading {
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.hero__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: calc(100% + 25px);
}

.hero__image {
  width: 100%;
  max-width: 400px;
}

.hero__timer,
.feedback__timer,
.countdown__timer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.hero__timer {
  margin-top: -90px;
}

.timer__heading {
  color: #e0e0e0;
  font-size: 24px;
  font-weight: 300;
  line-height: 36px;
}

.timer {
  border-radius: 10px;
  background: #141414;
  padding: 0px 20px;
  color: #fff;
  text-align: center;
  font-family: Mont;
  font-size: 48px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 10px;
  width: 310px;
  z-index: 2;
}

.hero__discount,
.feedback__discount {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.discount__old {
  color: #f00;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 22px;
  text-decoration-line: line-through;
}

.discount__new {
  color: #fff;
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  line-height: 36px;
}

.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 45px;
  border-radius: 12px;
  background: #4947ff;
  color: #f5f5f5;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  max-width: 300px;
  width: 100%;
  z-index: 2;
}

.hero__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: 100%;
  max-width: 335px;
}

.hero__item {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 9px;
  border-radius: 20px;
  background-color: #fff;
  width: 100%;
}

.item__heading {
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.item__descr {
  color: #666;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.intro {
  gap: 28px;
}

.intro__descr-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.intro__heading {
  color: #e0e0e0;
  font-size: 32px;
  font-weight: 500;
  line-height: 34px;
}

.intro__descr {
  color: #a3a3a3;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}

.intro__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 400px;
  width: 100%;
  border-radius: 16px;
}

.intro__image {
  width: 100%;
  border-radius: 16px;
}

.practice {
  padding: 10px 20px 55px 20px;
  gap: 32px;
}

.practice__heading {
  color: #e0e0e0;
  font-size: 32px;
  font-weight: 500;
  line-height: 34px;
}

.practice__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.practice__card--active {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  border-radius: 20px;
  background: #292929;
  max-width: 500px;
  width: 100%;
  padding: 20px;
}

.card__heading {
  color: #e0e0e0;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.card__descr {
  color: #a3a3a3;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.card__image {
  border-radius: 16px;
  max-width: 460px;
  width: calc(100% + 24px);
  margin-bottom: -12px;
  margin-left: -12px;
}

.practice__card {
  display: flex;
  max-width: 300px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 22px 0;
}

.practice__card > .card__heading {
  color: #7d7d7d;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  max-width: 200px;
}

.markets {
  padding: 10px 20px 56px 20px;
}

.markets__content-wrapper {
  border-radius: 20px;
  background: #292929;
  padding: 20px 20px 24px 20px;
}

.markets__image {
  max-width: 180px;
  width: 100%;
}

.markets__image > img {
  width: 100%;
}

.markets__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.markets__heading {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  margin-top: 34px;
}

.markets__text {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 30px 0 80px;
}

.markets__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background: #4947ff;
  padding: 20px 40px;
  width: 100%;
  color: #f5f5f5;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
}

.feedback {
  padding: 40px 4px;
}

.feedback__content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: #1f1f1f;
  width: 100%;
  padding: 32px 16px;
  gap: 32px;
}

.feedback__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
}

.feedback__discount {
  align-items: flex-start;
}

.form__heading {
  color: #e0e0e0;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.experts {
  gap: 32px;
  padding: 10px 20px 56px 20px;
  max-width: none;
}

.experts__heading {
  color: #e0e0e0;
  font-size: 32px;
  font-weight: 500;
  line-height: 34px;
}

.experts__slider {
  position: relative;
  width: 100%;
  overflow-x: auto;
}

.experts__slider::-webkit-scrollbar {
  display: none;
}

.experts__list {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.experts__item {
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.experts__image {
  width: 280px;
  border-radius: 16px;
}

.experts__info {
  position: absolute;
  top: 14px;
  right: 14px;
}

.experts__name {
  color: #e0e0e0;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  margin: 20px 0 8px;
}

.experts__position {
  color: #a3a3a3;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.countdown {
  gap: 40px;
  padding: 40px 10px;
}

.countdown__content {
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 23px;
}

.countdown__form,
.countdown__content {
  border-radius: 12px;
  background: #1f1f1f;
  width: 100%;
  max-width: 500px;
}

.countdown__form {
  display: flex;
  padding: 20px 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown__dates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}

.countdown__dates > span {
  color: #e0e0e0;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}
.countdown__dates > span > .accent {
  font-weight: 500;
}

.countdown__heading {
  color: #e0e0e0;
  font-size: 32px;
  font-weight: 500;
  line-height: 34px;
}

.countdown__price {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.price--top {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff705;
  width: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 15px;
  gap: 8px;
}

.price--top > img {
  width: 24px;
}

.price__descr {
  color: #000;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
}

.price--bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: #292929;
  width: 100%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding: 16px 16px 36px 16px;
  gap: 5px;
}

.price__old {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.price__num {
  color: #7d7d7d;
  font-size: 15.5px;
  font-weight: 500;
  line-height: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 2px;
}

.price__num > span {
  text-decoration: line-through;
}

.price__discount {
  border-radius: 20px;
  background: #fff705;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  color: #000;
  text-align: center;
  font-size: 13.5px;
  font-weight: 500;
  line-height: 20px;
}

.price__total {
  color: #e0e0e0;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}

.countdown__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  padding-left: 16px;
}

.countdown__item {
  color: #e0e0e0;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  list-style-type: disc;
}

.ticker {
  max-width: none;
}

.ticker-container {
  overflow: hidden;
  font-family: sans-serif;
  font-size: 28px;
  font-weight: 500;
  color: white;
  display: flex;
  flex-direction: column;
  width: calc(100% + 40px);
}

.ticker-row {
  overflow: hidden;
  white-space: nowrap;
  border-top: 2px solid #3d3d3d;
  border-bottom: 2px solid #3d3d3d;
}

.ticker-row.reverse {
  border-top: none;
  border-bottom: none;
}

.ticker-content {
  display: inline-block;
  padding: 20px 0;
  animation: ticker-left 25s linear infinite;
  width: 100%;
}

.ticker-row.reverse .ticker-content {
  animation: ticker-right 20s linear infinite;
}

.ticker-content span {
  display: inline-block;
  padding: 0 20px;
  color: #e0e0e0;
  font-family: "TT Firs Neue";
  font-weight: 500;
}

.ticker-content > span > .accent {
  color: #3d3d3d;
  padding: 0 24px 0 0;
  font-weight: 700;
  font-size: 36px;
}

.ticker-content.first > span {
  font-size: 36px;
  line-height: 36px;
}

.ticker-content.second > span {
  font-size: 30px;
  line-height: 30px;
}

.ticker-content.third > span {
  font-size: 26px;
  line-height: 26px;
}

@keyframes ticker-left {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes ticker-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.footer {
  background: #292929;
  padding: 45px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.footer--top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 35px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;
}

.contacts__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

.contacts__phone {
  color: #fff;
  font-size: 17.5px;
  font-weight: 500;
  line-height: 20px;
}
.contacts__descr {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 32px;
}

.address__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 15px;
}

.address__descr,
.address__mail {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.footer__socials {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer--bottom {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;
}
.footer__menu {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.footer__menu > span {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.footer__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 28px;
}
.footer__text > span {
  color: rgba(255, 255, 255, 0.65);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.footer__text > span > .accent {
  text-decoration: underline;
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 38px;
}

.copyright__award {
  display: flex;
  align-items: center;
  gap: 26px;
  padding: 0 10px;
}

.copyright__award > span {
  color: rgba(255, 255, 255, 0.65);
  font-size: 11.8px;
  font-weight: 400;
  line-height: 16px;
}

.copyright__text {
  color: rgba(255, 255, 255, 0.65);
  font-size: 12px;
  font-weight: 400;
  line-height: 16px;
}

.mobile {
  display: flex;
}

.desktop {
  display: none;
}

@media (min-width: 1024px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }
  .header {
    padding: 35px;
    max-width: 1180px;
  }
  .header > img {
    width: 108px;
  }
  .header__text {
    max-width: none;
    font-size: 17.8px;
  }
  .section {
    max-width: 1180px;
  }
  .hero {
    max-width: 1400px;
    padding: 0px 20px 10px 20px;
  }
  .hero--top {
    max-width: 1400px;
    position: relative;
    align-items: flex-start;
    padding: 50px 80px 50px 80px;
  }
  .hero__timer {
    margin-top: 0;
  }
  .hero__image-wrapper {
    position: absolute;
    top: 80px;
    right: 0;
    width: auto;
    z-index: 1;
  }
  .hero__image {
    max-width: 580px;
  }
  .hero__subheading {
    font-size: 20px;
    line-height: 24px;
    z-index: 2;
  }
  .hero__heading {
    font-size: 60px;
    line-height: 60px;
    max-width: 550px;
    text-align: left;
    letter-spacing: -0.6px;
    z-index: 2;
  }
  .hero__discount,
  .feedback__discount {
    align-items: flex-start;
  }
  .hero__list {
    flex-direction: row;
    max-width: none;
    justify-content: flex-start;
    z-index: 2;
    gap: 8px;
  }
  .hero__item {
    width: 100%;
    max-width: 285px;
    height: 150px;
    justify-content: flex-start;
  }
  .hero__item.accent {
    background: #fff705;
  }
  .intro {
    flex-direction: row;
    padding: 10px 20px 120px 20px;
  }
  .intro__image-wrapper {
    max-width: 670px;
  }
  .intro__descr-wrapper {
    max-width: 465px;
    width: 100%;
    align-items: flex-start;
  }
  .intro__heading {
    font-size: 52px;
    line-height: 54px;
    letter-spacing: -1.04px;
  }
  .intro__descr {
    font-size: 20px;
    line-height: 24px;
    max-width: 445px;
  }
  .practice {
    gap: 56px;
  }
  .practice__heading {
    margin-right: auto;
    font-size: 52px;
    line-height: 54px;
  }
  .practice__content-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
  }
  .card__image {
    max-width: 680px;
    margin: 0;
    width: 100%;
  }
  .practice {
    padding: 10px 20px 120px 20px;
  }
  .practice__card--active {
    max-width: 385px;
    padding: 28px;
    gap: 10px;
  }
  .practice__card {
    padding: 25px 0 25px 28px;
  }
  .practice__content {
    align-items: flex-start;
  }
  .practice__card > .card__heading,
  .card__heading {
    font-size: 24px;
    line-height: 28px;
    max-width: none;
  }
  .card__descr {
    font-size: 18px;
    line-height: 22px;
  }
  .markets {
    padding: 10px 20px 120px 20px;
  }
  .markets__content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 48px 98px 48px 48px;
    gap: 30px;
  }
  .markets__image {
    max-width: 335px;
  }
  .markets__content {
    max-width: 580px;
  }
  .markets__heading {
    font-size: 31.8px;
    line-height: 36px;
  }
  .markets__text {
    font-size: 18px;
    line-height: 22px;
    margin: 22px 0 42px;
  }
  .markets__button {
    max-width: 240px;
    padding: 20px;
  }
  .experts__heading {
    margin-right: auto;
    font-size: 52px;
    line-height: 54px;
    max-width: 750px;
  }
  .experts__item {
    width: 360px;
  }
  .experts__image {
    width: 360px;
  }
  .experts__name {
    font-size: 24px;
    line-height: 28px;
    margin: 24px 0 10px;
  }
  .experts__position {
    font-size: 18px;
    line-height: 22px;
  }
  .feedback {
    padding: 20px 20px 120px 20px;
  }
  .feedback__content-wrapper {
    flex-direction: row;
    padding: 50px 50px 20px 50px;
    justify-content: space-between;
    align-items: flex-start;
  }
  .feedback__heading {
    color: #e0e0e0;
    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
  }
  .support {
    gap: 56px;
    padding: 20px 20px 120px 20px;
  }
  .support__content {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .support__card {
    max-width: 380px;
    width: 100%;
    height: 472px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 24px 24px 30px 24px;
    border-radius: 32px;
    background-size: cover;
    background-position: center;
  }
  .support__position {
    color: #f5f5f5;
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
  }
  .support__descr {
    color: #f5f5f5;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    margin-top: 14px;
  }
  .support__card:nth-child(1) {
    background-image: url(../img/sup1.png);
  }
  .support__card:nth-child(2) {
    background-image: url(../img/sup2.png);
  }
  .support__card:nth-child(3) {
    background-image: url(../img/sup3.png);
  }
  .support__plus {
    position: absolute;
    top: 16px;
    right: 16px;
  }
  .countdown {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 20px 20px 120px 20px;
  }
  .countdown__content {
    gap: 32px;
  }
  .countdown--top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  .countdown__price {
    margin-top: 8px;
  }
  .countdown__heading {
    font-size: 52px;
    line-height: 54px;
    max-width: 270px;
  }
  .countdown__dates {
    align-items: flex-end;
  }
  .countdown__list {
    gap: 24px;
  }
  .price__descr {
    font-size: 14px;
  }
  .price--top > img {
    width: 32px;
  }
  .price__num {
    font-size: 18px;
  }
  .price__total {
    font-size: 32px;
    line-height: 36px;
  }
  .ticker {
    max-width: none;
    padding: 120px 0;
  }
  .ticker-content {
    animation: ticker-left 55s linear infinite;
    padding: 30px 0;
  }

  .ticker-row.reverse .ticker-content {
    animation: ticker-right 50s linear infinite;
  }
  .ticker-content.first > span {
    font-size: 58px;
    line-height: 58px;
  }
  .ticker-content.second > span {
    font-size: 50px;
    line-height: 50px;
  }
  .ticker-content.third > span {
    font-size: 40px;
    line-height: 40px;
  }
  .footer--top {
    flex-direction: row;
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    justify-content: space-between;
  }
  .footer__contacts {
    flex-direction: row;
    max-width: 400px;
    width: 100%;
  }
  .contacts__block {
    margin-right: 20px;
  }
  .address__descr {
    max-width: 290px;
  }
  .footer {
    padding: 40px 40px 120px 40px;
  }
  .footer--bottom {
    width: 100%;
    max-width: 1180px;
    margin: 0 auto;
    gap: 38px;
  }
  .footer__info {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }
  .footer__text {
    max-width: 565px;
  }
  .footer__copyright {
    flex-direction: row-reverse;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 105px;
  }
}

@media (min-width: 1240px) {
  .hero__image-wrapper {
    position: absolute;
    top: 40px;
  }
  .hero__image {
    max-width: 680px;
  }
}
