.firstt,
.secondd,
.thirdd {
  width: 100%;
  border: none;
  padding: 10px;
  max-width: 360px;
  margin: 0 auto;

  background-color: white;
  border-radius: 8px;
}

.firstt .formHeader,
.secondd .formHeader,
.thirdd .formHeader {
  display: none;
  text-align: center;

  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;

  color: #272727;

  margin-bottom: 34px;
}

.firstt input,
.firstt .countryFlag,
.secondd input,
.secondd .countryFlag,
.thirdd input,
.thirdd .countryFlag {
  margin-top: 14px;

  height: 50px;

  font-size: 21px;

  background-position-x: 10%;
}

.countryPhoneCodeSpan {
  padding-left: 25px;
}

.dropdown-toggle::after {
  margin-left: 0 !important;
}

.form-check {
  margin: 5px 0;
  padding: 0;

  height: fit-content;

  display: flex;
  gap: 10px;
}

.form-check-input {
  margin: 0 !important;
  height: 21px !important;
  position: static;
  border-color: #0d6efd;
  flex-shrink: 0;
}

.form-check-label {
  font-size: 12px;
  color: white;
  height: fit-content;
  color: #000;
}

.leadFormContainer2 .countryFlag {
  width: unset;
  min-height: unset;
  color: black;
  border-color: rgb(194, 194, 194);
}

.leadFormContainer2 .countryFlag {
  background-color: white;
}

.dropdown-toggle::after {
  margin-left: 8px;
}

.firstt .leadSubmit,
.secondd .leadSubmit,
.thirdd .leadSubmit {
  width: 100%;

  font-size: 21px;
  line-height: 25px;
  color: #fff;
  font-weight: 600;

  border-radius: 8px;
  background-color: #0883f4;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  margin-top: 10px;
  padding: 17px 27px;

  transition-duration: 0.3s;
}

.firstt .leadSubmit > span,
.secondd .leadSubmit > span,
.thirdd .leadSubmit > span {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* text-transform: uppercase; */
}

.firstt .leadSubmit:hover,
.secondd .leadSubmit:hover,
.thirdd .leadSubmit:hover {
  background-color: #0861b4;
}

.error {
  color: red;
}

.input-group {
  flex-wrap: nowrap;
}
/* //////////////////////////////// */
a {
  text-decoration: none;
}

.modal.active {
  z-index: 100;
}
