:root {
  --hover-green: #5eb476;
  --black: #484848;
  --white: #fff;
  --gray: #7e7e7e;
  --green: #21a038;
  --red: #f23b2e;
  --hover-red: #f4564a;
}

a {
  text-decoration: none;
  color: inherit;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url("https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.body {
  background: #1a1a1f;
  font-family: Inter, sans-serif;
}

.section {
  height: 100vh;
  padding: 100px 140px;
}

.image {
  width: 220px;
}

.button {
  background-color: #ffc759;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
  padding: 18px 40px;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 120%;
  transition: box-shadow 0.333s, background-color 0.333s;
  display: flex;
}

.button:hover {
  background-color: var(--hover-green);
  box-shadow: 0 0 5px #5eb476;
}

.heading {
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.7vw;
  font-weight: 600;
  line-height: 120%;
}

.text-block {
  color: var(--white);
  width: 90%;
  margin-bottom: 0;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 120%;
}

.div-block {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.image-2 {
  width: 50%;
  margin-top: 0;
}

.image-logo {
  width: 100px !important;
}

.div-block-2 {
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  background-color: #27272f;
  border: 5px #21a038;
  border-radius: 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 50%;
  height: 100%;
  padding: 30px 30px 50px;
  display: flex;
  box-shadow: 0 2px 20px #0003;
}

.div-block-3 {
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  flex-direction: column;
  margin-top: 0;
  display: flex;
}

.div-block-4 {
  grid-column-gap: 100px;
  grid-row-gap: 100px;
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.image-3 {
  width: 60%;
}

.div-block-5 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-color: #27272f;
  border-radius: 40px;
  flex-direction: column;
  width: 50%;
  height: 100%;
  padding: 50px;
  display: flex;
  box-shadow: 0 2px 20px #0003;
}

.text-block-2 {
  color: var(--white);
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.3vw;
  font-weight: 600;
  line-height: 120%;
}

.text-block-3 {
  color: var(--gray);
  font-size: 1vw;
  font-weight: 400;
  line-height: 120%;
}

.image-4 {
  border-radius: 20px;
  width: auto;
}

.div-block-6 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  display: flex;
}

.div-block-7 {
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 40%;
  display: flex;
}

.text-block-4 {
  color: #ffc759;
  text-align: center;
  font-size: 1vw;
  font-weight: 800;
  line-height: 120%;
}

.text-block-4._1 {
  display: none;
}

.div-block-8 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #27272f;
  border-radius: 20px;
  justify-content: flex-start;
  width: 50%;
  margin-top: 70px;
  padding: 20px;
  display: flex;
  box-shadow: 0 2px 20px #0003;
}

.button-2 {
  background-color: var(--green);
  color: white;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  width: 50%;
  padding: 12px 20px;
  font-size: 0.9vw;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow 0.333s, background-color 0.333s;
}

.button-2:hover {
  background-color: var(--hover-green);
  box-shadow: 0 0 5px 0 var(--hover-green);
}

.button-2.no {
  background-color: #f23b2e;
  width: 50%;
}

.div-block-9 {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  justify-content: space-between;
  margin-top: -100px;
  display: flex;
}

.button-3 {
  background-color: var(--red);
  color: white;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  width: 50%;
  padding: 12px 20px;
  font-size: 0.9vw;
  font-weight: 500;
  line-height: 120%;
  transition: box-shadow 0.333s, background-color 0.333s;
}

.button-3:hover {
  background-color: var(--hover-red);
  box-shadow: 0 0 5px #f4564ab3;
}

.button-3.no {
  background-color: #f23b2e;
  width: 50%;
}

.bold-text {
  font-weight: 600;
}

.text-block-4-copy {
  color: var(--white);
  text-align: center;
  font-size: 1vw;
  font-weight: 600;
  line-height: 120%;
}

.text-block-4-copy._1 {
  display: none;
}

.section-copy {
  opacity: 1;
  height: 100vh;
  padding: 100px 140px;
  display: flex;
}

.div-block-5-copy {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  background-color: var(--white);
  border-radius: 5px;
  flex-direction: column;
  width: 50%;
  padding: 50px;
  display: flex;
}

.div-block-43 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  display: flex;
}

.div-block-49 {
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding-left: 20px;
  padding-right: 0;
  display: flex;
}

.div-block-17 {
  justify-content: center;
  margin-top: 20px;
  display: flex;
}

.div-block-36 {
  background-color: #ebebeb;
  border-radius: 10px;
  width: 100%;
  height: 2px;
}

.text-block-21 {
  color: var(--gray);
  font-size: 0.7vw;
  line-height: 120%;
}

.image-5 {
  width: 15%;
}

.text-block-18 {
  color: #ffc759;
  font-size: 1.2vw;
  font-weight: 700;
  line-height: 120%;
}

.text-block-18.black {
  color: var(--white);
}

.div-block-46 {
  border: 3px solid #ffc759;
  border-radius: 100px;
  width: 20px;
  height: 20px;
}

.text-block-16 {
  color: var(--gray);
  font-size: 0.7vw;
  line-height: 120%;
}

.div-block-35 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: #27272f;
  border-radius: 40px;
  flex-direction: column;
  width: 100%;
  padding: 50px 60px;
  display: flex;
  box-shadow: 0 2px 20px #0003;
}

.div-block-35.mobile {
  display: flex;
}

.div-block-48 {
  background-color: #ffc759;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  max-width: 100px;
  width: auto;
  margin-bottom: 5px;
  padding: 5px;
  display: flex;
}

.div-block-48.gray {
  background-color: rgba(79, 79, 89, 0.4);
  width: 80px;
}

.submit-button {
  background: #ffc759 !important;
  color: black;
  text-transform: none;
  border-radius: 20px !important;
  border: none;
  width: 100%;
  padding: 15px 40px;
  font-size: 1vw;
  font-weight: 400;
  line-height: 120%;
  transition: background-color 0.333s;
}

.submit-button:hover {
  background-color: var(--hover-green);
  box-shadow: 0 0 5px #4ca45a;
}

.text-block-6 {
  color: var(--white);
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.4vw;
  font-weight: 700;
  line-height: 120%;
}

.text-field {
  color: #262626;
  background-color: #f3f6f7;
  border: 0 solid #000;
  border-radius: 10px;
  height: 100%;
  margin-bottom: 15px;
  padding: 12px 20px;
  font-size: 1vw;
  line-height: 120%;
}

.text-block-20 {
  color: black;
  font-size: 0.7vw;
  font-weight: 500;
  line-height: 120%;
}

.text-block-20.gray {
  color: #8a8a8a;
}

.section-3 {
  background-color: #f3f6f700;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding-top: 20px;
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
}

.div-block-41,
.div-block-45 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  display: flex;
}

.div-block-51 {
  justify-content: space-between;
  width: 100%;
  display: flex;
}

.text-block-17 {
  color: var(--black);
  font-size: 1vw;
  font-weight: 700;
  line-height: 120%;
}

.div-block-16 {
  background-color: #27272f;
  border-radius: 40px;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-top: 0;
  padding: 60px 50px;
  display: flex;
  box-shadow: 0 2px 20px #2626264d;
}

.div-block-34 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-direction: column;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  display: flex;
}

.div-block-42 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border: none;
  border-radius: 5px;
  flex-direction: column;
  padding: 0;
  display: flex;
}

.div-block-38 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  display: flex;
  justify-content: center;
}

.div-block-37 {
  background-color: rgba(79, 79, 89, 0.4);
  border: none;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px 15px;
  display: flex;
  box-shadow: 0 0 5px #0003;
}

.div-block-37.active {
  background-color: #ffc759;
  box-shadow: 0 0 5px 0 #ffc759;
  border-width: 0;
}

.div-block-47 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border: none;
  border-radius: 5px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  display: flex;
}

.div-block-44 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  flex-direction: column;
  display: flex;
}

.text-span-4 {
  text-decoration: underline;
}

.text-block-19 {
  color: white;
  font-size: 0.7vw;
  font-weight: 500;
  line-height: 120%;
}

.div-block-37.active > .text-block-19 {
  color: black;
}

.div-block-39 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  flex-flow: wrap;
  align-items: flex-start;
  align-content: space-between;
  width: 55%;
  display: flex;
}

#investment-slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: linear-gradient(to right, #ffc759 0%, #d3d3d3 0%);
  outline: none;
  transition: background 0.3s ease-in-out;
  padding: 0;
  border: none;
}

#investment-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffc759;
  border: 1px solid #484848;
  cursor: pointer;
}

#investment-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ffc759;
  cursor: pointer;
}

.div-block-40 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  border: 0 solid #f0f0f0;
  border-radius: 5px;
  justify-content: space-between;
  padding: 0;
  display: flex;
}

.field-label {
  color: #999;
  -webkit-text-stroke-color: #8a8a8a;
  text-transform: none;
  font-size: 0.8vw;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
}

.div-block-33 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: #fff0;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 0;
  display: flex;
}

.div-block-50 {
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
  padding-top: 0;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
}

.text-block-14 {
  color: var(--gray);
  width: 90%;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 130%;
}

.div-block-52 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  border: none;
  background-color: #27272f;
  border-radius: 40px;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 50px;
  display: flex;
  box-shadow: 0 2px 20px #0003;
}

.text-block-22 {
  color: var(--white);
}

.text-span-5 {
  color: #ffc759;
  font-weight: 600;
}

.text-block-23 {
  color: var(--white);
  width: 100%;
  font-size: 1vw;
  line-height: 120%;
}

.image-2-copy {
  width: 45%;
  margin-top: 0;
  display: none;
}

.checkbox-label {
  color: var(--black);
  width: 100%;
  margin-bottom: 0;
  font-size: 0.9vw;
  font-weight: 600;
  line-height: 120%;
}

.checkbox {
  border: 1px solid var(--gray);
  margin-top: 1px;
  margin-left: 0;
}

.checkbox-field {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 10px;
  padding-left: 0;
  display: flex;
}

.checkbox-field-2 {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  align-items: flex-start;
  padding-left: 0;
  display: flex;
}

.div-block-54 {
  background-color: var(--green);
  height: 1px;
}

.div-block-55 {
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #fff0;
  border: 0 solid #f0f0f0;
  border-radius: 10px;
  flex-direction: column;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  display: flex;
}

.text-block-5 {
  color: var(--white);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.3vw;
  font-weight: 600;
  line-height: 120%;
}

.div-block-56 {
  width: 100%;
}

.div-block-57 {
  justify-content: space-between;
  align-items: stretch;
  display: flex;
}

.div-block-35-copy {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: var(--white);
  border-radius: 10px;
  flex-direction: column;
  width: 100%;
  padding: 50px 60px;
  display: none;
}

.div-block-35-copy.mobile {
  display: flex;
}

.body-2 {
  background-color: #1a1a1f;
}

.section-4 {
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: flex;
}

.image-6 {
  border-radius: 20px;
  width: 60%;
}

.div-block-58 {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-color: #27272f;
  border-radius: 40px;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  box-shadow: 0 2px 20px #0003;
}

.text-block-24 {
  text-align: center;
  width: 70%;
  font-family: Inter, sans-serif;
  font-size: 1.8vw;
  font-weight: 400;
  line-height: 120%;
  color: var(--white);
}

.form-block {
  display: block;
}

.div-block-59 {
  background-color: #48484880;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: none;
  position: absolute;
  inset: 0%;
}

.div-block-60 {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-color: var(--white);
  border-radius: 20px;
  flex-direction: column;
  width: 30%;
  padding: 45px 30px 30px;
  display: flex;
}

.text-block-25 {
  color: var(--white);
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.1vw;
  font-weight: 500;
  line-height: 120%;
}

.text-block-26 {
  color: #ffc759;
  text-align: center;
  cursor: pointer;
  justify-content: flex-end;
  width: 100%;
  font-size: 22px;
  font-weight: 800;
  line-height: 120%;
  display: flex;
  position: static;
  top: -50px;
  right: -280px;
}

.popup {
  background-color: #00000080;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  display: none;
  position: absolute;
  inset: 0%;
}

.div-block-62 {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  justify-content: center;
  margin-bottom: 10px;
  display: flex;
}

.button-4 {
  background-color: var(--green);
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.1vw;
  line-height: 120%;
  transition: background-color 0.444s;
}

.button-4:hover {
  background-color: var(--hover-green);
}

.button-5 {
  background-color: var(--red);
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1.1vw;
  line-height: 120%;
  transition: background-color 0.444s;
}

.button-5:hover {
  background-color: var(--hover-red);
}

.div-block-60-copy {
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  background-color: #27272f;
  border-radius: 5px;
  flex-direction: column;
  width: 30%;
  padding: 15px 30px 30px;
  display: flex;
}

.text-block-24-copy {
  text-align: center;
  width: 50%;
  font-family: Inter, sans-serif;
  font-size: 1.8vw;
  font-weight: 500;
  line-height: 120%;
  color: var(--white);
}

.checkbox-text {
  margin-bottom: 0;
  margin-left: 6px;
  text-align: left;
  font-family: Inter;
  color: var(--white);
  font-size: 12px;
  font-weight: 600;
}

.form-input {
  color: #262626;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.64) 0%,
      rgba(255, 255, 255, 0.64) 100%
    ),
    rgba(255, 255, 255, 0.64);
  border: 0 solid #000;
  border-radius: 10px;
  height: 100%;
  margin-bottom: 15px;
  padding: 12px 20px;
  font-size: 12px;
  line-height: 120%;
  height: 37px;
}

.form-input::placeholder {
  font-size: 10px;
  line-height: 150%;
}

.form-group > label {
  color: #999;
  -webkit-text-stroke-color: #8a8a8a;
  text-transform: none;
  font-size: 2.7vw;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 0 15px;
  box-sizing: border-box;
}

.modal.hidden {
  display: none;
}

.modal__content {
  border-radius: 20px;
  border: 1px solid #ffc759;
  background: #1b1b1b;
  display: flex;
  padding: 30px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modal__content.third {
  margin-top: 150px;
}

.modal__question {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

.modal__actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.modal__button--first,
.modal__button--second,
.modal__button--third {
  border-radius: 20px;
  border: 1px solid #ffc759;
  background-color: #ffc759;
  display: flex;
  max-width: 120px;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  color: #000;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.modal__button--second:active {
  background-color: #ffc759;
}

.modal__button--yes {
  background-color: #ffc759;
}

.modal__button--no {
  background-color: #ffc759;
}

.button-link {
  max-width: 280px;
}

@media screen and (max-width: 991px) {
  .section {
    padding: 140px 60px;
  }

  .image {
    width: 40%;
  }

  .button {
    font-size: 1.5vw;
  }

  .heading {
    font-size: 3vw;
  }

  .text-block {
    width: 100%;
    font-size: 1.5vw;
  }

  .div-block {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .div-block-4 {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
  }

  .div-block-5 {
    padding: 40px;
  }

  .text-block-2 {
    font-size: 2vw;
  }

  .text-block-3 {
    font-size: 1.3vw;
  }

  .div-block-7 {
    justify-content: flex-start;
  }

  .text-block-4 {
    font-size: 1.3vw;
  }

  .div-block-8 {
    width: 60%;
    margin-top: 50px;
  }

  .button-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .div-block-9 {
    grid-column-gap: 5%;
    grid-row-gap: 5%;
    width: 40%;
    margin-top: -75px;
    margin-left: 3px;
    margin-right: 5px;
  }

  .button-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .text-block-4-copy {
    font-size: 1.3vw;
  }

  .div-block-43 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .div-block-17 {
    margin-top: 15px;
  }

  .text-block-21 {
    font-size: 1vw;
  }

  .image-5 {
    width: 20%;
  }

  .text-block-18 {
    font-size: 1.5vw;
  }

  .text-block-16 {
    font-size: 1vw;
  }

  .div-block-35 {
    padding: 40px;
    display: flex;
  }

  .div-block-35.mobile {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    display: flex;
  }

  .submit-button {
    font-size: 1.5vw;
  }

  .text-block-6 {
    font-size: 2vw;
  }

  .text-field {
    margin-bottom: 10px;
    font-size: 1.5vw;
  }

  .text-block-20,
  .text-block-20.gray {
    font-size: 1vw;
  }

  .section-3 {
    background-image: none;
    justify-content: flex-start;
    height: 100%;
    padding: 40px 40px 20px;
  }

  .div-block-45 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .text-block-17 {
    font-size: 2.5vw;
  }

  .div-block-16 {
    width: 100%;
    padding: 40px;
  }

  .div-block-38 {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .div-block-37 {
    width: 100%;
    padding: 12px 15px;
  }

  .div-block-37.active {
    padding: 12px 20px;
  }

  .div-block-44 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .text-block-19,
  .text-block-19.white {
    text-align: center;
    width: 100%;
    font-size: 1vw;
  }

  .div-block-39 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
  }

  .field-label {
    font-size: 1.2vw;
  }

  .div-block-33 {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .text-block-14 {
    width: 100%;
    font-size: 3vw;
  }

  .div-block-52 {
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
  }

  .text-block-23 {
    font-size: 1.3vw;
  }

  .checkbox-label {
    font-size: 1vw;
  }

  .div-block-55 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .text-block-5 {
    font-size: 2vw;
  }

  .div-block-57 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-direction: row;
    width: 100%;
  }

  .div-block-35-copy {
    display: none;
  }

  .div-block-35-copy.mobile {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    display: flex;
  }

  .image-6 {
    width: 50%;
  }

  .text-block-24 {
    font-size: 3vw;
  }

  .div-block-60 {
    width: 50%;
  }

  .text-block-25 {
    font-size: 1.5vw;
  }

  .div-block-60-copy {
    width: 50%;
  }

  .text-block-24-copy {
    font-size: 3vw;
  }
}

@media screen and (max-width: 767px) {
  .section {
    height: 310px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 40px;
  }

  .button {
    font-size: 1.7vw;
  }

  .div-block-3 {
    margin-top: 0;
  }

  .div-block-4 {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }

  .div-block-5 {
    padding: 30px;
  }

  .text-block-2 {
    font-size: 3vw;
  }

  .div-block-7 {
    width: 45%;
  }

  .div-block-43 {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .text-block-21 {
    font-size: 1.5vw;
  }

  .image-5 {
    width: 25%;
  }

  .text-block-18 {
    font-size: 2vw;
  }

  .text-block-16 {
    font-size: 1.5vw;
  }

  .submit-button {
    font-size: 2vw;
  }

  .text-block-6 {
    font-size: 3.5vw;
  }

  .text-block-20,
  .text-block-20.gray {
    font-size: 1.5vw;
  }

  .section-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-block-45 {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .div-block-16,
  .div-block-34 {
    width: 100%;
  }

  .div-block-38 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }

  .div-block-44 {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .text-block-19,
  .text-block-19.white,
  .field-label {
    font-size: 1.5vw;
  }

  .div-block-33 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-direction: column;
  }

  .text-block-14 {
    font-size: 3vw;
  }

  .text-block-23 {
    font-size: 2vw;
  }

  .checkbox-label {
    margin-bottom: 0;
    font-size: 1.2vw;
  }

  .checkbox-field-2 {
    align-items: center;
  }

  .text-block-5 {
    font-size: 3vw;
  }

  .div-block-57 {
    flex-direction: column;
  }

  .section-4 {
    align-items: flex-start;
    padding-top: 20px;
  }

  .text-block-25 {
    font-size: 1.6vw;
  }
}

@media screen and (max-width: 479px) {
  .body {
    background: #1a1a1f;
    height: auto;
  }

  .section {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background: #1a1a1f;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 30px 20px;
    display: flex;
  }

  .image {
    width: 45%;
  }

  .button {
    width: 100%;
    font-size: 3.5vw;
    font-weight: 500;
  }

  .heading {
    font-size: 6vw;
  }

  .text-block {
    font-size: 3.4vw;
    font-weight: 500;
    line-height: 130%;
  }

  .div-block {
    flex-direction: column;
  }

  .image-2 {
    width: 100%;
    display: none;
  }

  .div-block-2 {
    align-items: center;
    width: 100%;
  }

  .div-block-3 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .div-block-4 {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    flex-flow: column;
    justify-content: flex-end;
    padding-bottom: 0;
  }

  .image-3 {
    width: 70%;
  }

  .div-block-5 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    border-radius: 20px;
    width: 100%;
  }

  .text-block-2 {
    font-size: 4.3vw;
  }

  .text-block-3 {
    font-size: 3.3vw;
  }

  .image-4 {
    display: none;
  }

  .div-block-6 {
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }

  .div-block-7 {
    width: 100%;
  }

  .text-block-4 {
    font-size: 4vw;
  }

  .div-block-8 {
    border-radius: 20px;
    justify-content: center;
    width: 100%;
    margin-top: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .button-2 {
    height: 100%;
    padding: 10px 8px;
    font-size: 2.5vw;
    font-weight: 600;
  }

  .div-block-9 {
    grid-column-gap: 6%;
    grid-row-gap: 6%;
    width: 52%;
  }

  .button-3 {
    height: 100%;
    padding: 10px 8px;
    font-size: 2.5vw;
    font-weight: 600;
  }

  .text-block-4-copy {
    font-size: 4vw;
  }

  .text-block-21 {
    font-size: 2.2vw;
  }

  .image-5 {
    width: 110px;
    align-self: center;
  }

  .text-block-18 {
    font-size: 3.8vw;
  }

  .text-block-16 {
    font-size: 3vw;
  }

  .div-block-35 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .div-block-35.mobile {
    padding: 20px;
  }

  .submit-button {
    font-size: 3.5vw;
  }

  .text-block-6 {
    font-size: 4.3vw;
    font-weight: 600;
  }

  .text-field {
    font-size: 2.5vw;
  }

  .text-block-20,
  .text-block-20.gray {
    font-size: 2vw;
  }

  .section-3 {
    background-image: linear-gradient(#0000, #0000);
    justify-content: flex-start;
    padding: 30px 20px 40px;
  }

  .text-block-17 {
    font-size: 5vw;
  }

  .div-block-16 {
    width: 100%;
    padding: 40px;
  }

  .div-block-38 {
    flex-wrap: wrap;
    align-content: stretch;
  }

  .div-block-37 {
    width: 110px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .div-block-37.active {
    width: 110px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .text-block-19,
  .text-block-19.white {
    font-size: 3vw;
  }

  .field-label {
    font-size: 2.7vw;
  }

  .div-block-33 {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
  }

  .text-block-14 {
    color: #262626;
    text-align: center;
    width: 100%;
    font-size: 5vw;
  }

  .text-block-23 {
    font-size: 3.4vw;
  }

  .image-2-copy {
    width: 90%;
    display: block;
  }

  .div-block-53 {
    width: 100%;
  }

  .checkbox-label {
    font-size: 2.4vw;
  }

  .checkbox {
    margin-top: 0;
  }

  .text-block-5 {
    font-size: 4.3vw;
  }

  .div-block-35-copy.mobile {
    padding: 20px;
  }

  .section-4 {
    padding-top: 30px;
  }

  .image-6 {
    width: 90%;
  }

  .div-block-58 {
    width: 80%;
  }

  .text-block-24 {
    width: 90%;
    font-size: 3.5vw;
  }

  .div-block-59 {
    display: none;
  }

  .div-block-60 {
    width: 90%;
  }

  .text-block-25 {
    font-size: 4vw;
  }

  .popup {
    display: none;
  }

  .button-4,
  .button-5 {
    padding: 11px 25px;
    font-size: 3.5vw;
  }

  .div-block-60-copy {
    width: 90%;
  }

  .text-block-24-copy {
    width: 90%;
    font-size: 5vw;
  }
}
