html {
  scroll-behavior: smooth;
}
body {
  font-family: Roboto;
}
h2 {
  color: #181818;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}
.main {
  padding: 90px 15px 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}
.header {
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: #fff;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo > img {
  width: 46px;
  height: 46px;
}

.logo__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.header__menu.mobile {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 4px;
}

.logo__title > span {
  color: #434343;
  font-size: 14px;
  font-weight: 500;
}

.logo__title > span.accent {
  color: #0022a0;
  font-size: 20px;
  font-weight: 900;
}

.hero__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.hero__video {
  height: 345px;
  border-radius: 15px;
  background: #000;
  width: 100%;
  max-width: 600px;
}

.hero__info {
  background: #0022a0;
  color: white;
  padding: 15px 25px;
  border-radius: 20px;
  max-width: 600px;
  line-height: 1.5;
}

.info__summary {
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.info__summary::-webkit-details-marker {
  display: none;
}

.info__title {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
}

.info__arrow {
  margin-left: auto;
  transition: transform 0.3s ease;
}

.hero__info[open] .info__arrow {
  transform: rotate(180deg);
}
.info__content {
  margin-top: 10px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
}

.hero__form,
.bottom__form {
  border-radius: 15px;
  background: #0022a0;
  max-width: 400px;
  width: 100%;
  padding: 20px 25px;
}

.users__heading {
  color: #181818;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

.users__list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 360px;
}

.users__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 15px;
  width: 100%;
}

.users__info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 145px;
}

.users__item > span,
.users_info > span {
  color: #181818;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
}
.users__info > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 10px 0 20px;
}
.users__bar {
  width: 86px;
  height: 25px;
  background: white;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.users__bar > .fill {
  height: 100%;
  width: 100%;
  background-image: repeating-linear-gradient(
    65deg,
    transparent,
    transparent 1rem,
    #0022a0 1rem,
    #0022a0 2rem
  );
  background-size: 200% 200%;
  animation: moveStripes 10s linear infinite;
  border: 1px solid #0c219c;
  border-radius: 5px;
}

@keyframes moveStripes {
  100% {
    background-position: 100% 100%;
  }
}

.access__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 28px;
}

.access__point {
  display: flex;
  align-items: center;
  gap: 20px;
}

.access__info {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.access__info > span {
  color: #0022a0;
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;
}

.access__info > p {
  color: #181818;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
}

.access__image {
  max-width: 600px;
  width: 100%;
}
.access__image > img {
  width: 100%;
}

.calc {
  gap: 25px;
  max-width: none;
}

.calc__descr {
  color: #181818;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  max-width: 500px;
}

.calc__wrapper {
  width: calc(100% + 30px);
  padding: 100px 15px;
  background-image: url(../img/calc.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.calc__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: #fff;
  padding: 20px;
  gap: 50px;
  max-width: 400px;
  margin: 0 auto;
  font-family: sans-serif;
}

.calc__input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.calc__form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #414141;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  width: 100%;
}

.calc__amount {
  border-radius: 5px;
  background: #eff1f8;
  padding: 5px 10px;
  color: #000;
  text-align: right;
  font-family: Roboto;
  font-size: 22px;
  font-weight: 400;
  line-height: 25.3px;
  width: 100%;
  max-width: 120px;
}
.calc__range {
  -webkit-appearance: none;
  width: 100%;
  height: 12px;
  background: transparent;
  border-radius: 8px;
  position: relative;
  margin-bottom: 20px;
  cursor: pointer;
}

.calc__range::-webkit-slider-runnable-track {
  height: 12px;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    #0022a0 var(--progress, 50%),
    #d3d3d3 0%
  );
}

.calc__range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: white;
  border: 8px solid #0022a0;
  margin-top: -8px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}

.calc__range::-moz-range-track {
  height: 12px;
  border-radius: 8px;
  background: #d3d3d3;
}

.calc__range::-moz-range-thumb {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: white;
  border: 8px solid #0022a0;
  cursor: pointer;
}

.calc__range::-moz-range-progress {
  background: #0022a0;
  height: 12px;
  border-radius: 8px;
}

.calc__hint {
  text-align: center;
  color: #181818;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
}

.calc__approx {
  display: flex;
  align-items: center;
  gap: 50px;
  max-width: 290px;
  width: 100%;

  color: #414141;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
}

.calc__result {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.calc__result-icon {
  float: right;
  font-size: 24px;
  color: #0022a0;
}

.calc__result-row {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  width: 100%;
}

.calc__result-row > span {
  color: #181818;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
}

.calc__result-row > .calc__result-value {
  color: #0022a0;
  font-weight: 700;
}

.bottom {
  padding-bottom: 80px;
}

.mobile-menu {
  position: fixed;
  top: -100%;
  left: 0;
  right: 0;
  width: 100%;
  background: #fff;
  z-index: 1000;
  transition: top 0.4s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.mobile-menu--active {
  top: 0;
}

.mobile-menu__inner {
  padding: 30px 30px 75px 30px;
}

.mobile-menu__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.mobile-menu__logo {
  display: flex;
  align-items: center;
}

.mobile-menu__brand-main {
  color: #0f8dd4;
  font-size: 20px;
  font-weight: 900;
  line-height: 100%;
}

.mobile-menu__brand-sub {
  color: #434343;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
}

.mobile-menu__close {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #111;
}

.mobile-menu__nav {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 15px;
}

.mobile-menu__nav > a {
  color: #434343;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
  transition: color 250ms ease-in-out;
}

.mobile-menu__nav > a:active {
  color: #0f8dd4;
}

.mobile-menu__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.mobile-menu__overlay--active {
  opacity: 1;
  pointer-events: all;
}

.form-heading {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
}

.form-group:last-child {
  margin-bottom: 0;
}

.form-input {
  display: flex;
  padding: 15px 17px;
  align-items: center;
  border-radius: 5px;
  background: #f4f4f5;
  font-family: Roboto;
  font-size: 14px;
  height: 42px;
}

.form-input::placeholder {
  color: #60759a;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}
