select#countryLang {
    min-width: 150px;
    padding: 12px 12px;
    position: fixed;
    bottom: 0;
    z-index: 999;
    right: 0;
    font-size: 16px;
    outline: none;
}
.map {
  background: rgba(223, 223, 243, 0.1);
  padding: 100px 0;
  background-color: rgba(223, 223, 243, 0.1);
  background-image: url(../images/map.jpg);
  background-repeat: no-repeat;
  background-position: 50% 52%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.map_title {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 10px;
}

.map_text {
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  opacity: 0.75;
  margin-bottom: 106px;
}
.tableWrp {
  background: rgba(255, 255, 255, 0.65);
  border: 1px solid rgba(246, 246, 246, 0.5);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 20px;
  padding: 20px 10px;
  max-width: 1020px;
  margin: 0 auto;
}
.map_titleSecond {
  margin-top: 70px;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
}
.map_textSecond {
  font-size: 16px;
  line-height: 26px;
  opacity: 0.75;
  text-align: center;
  margin-bottom: 20px;
}
.map_btn {
  display: block;
  max-width: 346px;
  margin: 0 auto;
}

.earn {
  padding: 100px 0;
}
.earn_title {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.earn_text {
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}
.earn_wrp {
  margin-top: 60px;
  display: flex;
  align-items: flex-start;
}
.earn_img {
  margin-right: 20px;
}
.earn_subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 10px;
}
.earn_subtext {
  font-size: 16px;
  line-height: 26px;
  color: #000000;

  opacity: 0.75;
}
.earn_subtext:first-of-type {
  margin-bottom: 15px;
}
.earn_hr {
  background: #000000;
  opacity: 0.3;
  border-radius: 2px;
  height: 2px;
  margin: 20px 0;
}
.earn_list {
  list-style: none;
}
.earn_item {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 10px;
  color: rgba(0, 0, 0, 0.75);
}
.earn_item:last-of-type {
  margin-bottom: 0;
}
.earn_item img {
  margin-right: 5px;
}

.review {
  padding: 100px 0;
  background-color: #ed6c0c;
  background-image: url(../images/Map.png);
  background-position: center;
  background-repeat: no-repeat;
}
.review_title {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  margin-bottom: 10px;
}
.review_text {
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  text-align: center;
}
.review_slider {
  margin: 60px 0;
}
.review_item {
  margin: 37.5px 0;
  padding: 30px 40px;
  background: #ffffff;
  border-radius: 20px;
  display: flex;
  max-height: 400px;
  background-image: url(../images/review_coins.jpg);
  background-repeat: no-repeat;
  background-position: 99% 98%;
}
.sliderItem_imgWrp {
  max-width: 333px;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  z-index: 1;
  border-radius: 20px;
  margin: -67.5px 30px -67.5px 0;
}
.sliderItem_textWrp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 550px;
}
.sliderItem_name {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 10px;
}
.sliderItem_city {
  font-size: 16px;
  line-height: 16px;
  opacity: 0.75;
  margin-bottom: 20px;
}
.sliderItem_text {
  font-size: 16px;
  line-height: 24px;
}
.sliderItem_profit {
  margin-top: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: capitalize;
  color: #ed6c0c;
}

.mySwiperReview .swiper-pagination-bullet {
  background: transparent !important;
  opacity: 0.75;
  border: 1.5px solid #ffffff !important;
  margin: 0 3px !important;
  height: 12px !important;
  width: 12px !important;
}
.mySwiperReview .swiper-pagination-bullet-active {
  background: #fff !important;
  opacity: 1 !important;
}
.mySwiperReview .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -3px;
}
.mySwiperReview .swiper-wrapper {
  padding-bottom: 10px;
}
.review_inner {
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  max-width: 883px;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.review_subtitle {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}
.review_subtext {
  font-size: 16px;
  line-height: 26px;
  opacity: 0.75;
}
.review_btn {
  max-width: 346px;
}

.features {
  padding: 100px 0;
}
.features_title {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features_text {
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  opacity: 0.75;
}
.features_inner {
  margin-top: 60px;
  display: flex;
}
.features_item {
  padding: 20px;
  min-height: 275px;
  box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  position: relative;
  z-index: 1;
  width: 33%;
}
.item2 {
  padding: 60px 30px;
  margin: -17px -10px;
  z-index: 2;
  width: 35%;
  background-color: #fff;
}
.item1::before {
  content: '';
  background-position: -100% 0%;
  background-repeat: no-repeat;
  background: #fff;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 3px;
  border-radius: 0 0 10px 10px;
  position: absolute;
  z-index: 1;
}
.item1::after {
  content: '';
  background-position: -100% 0%;
  background-repeat: no-repeat;
  background: linear-gradient(270deg, #66bbff 0%, #366eff 100%);
  width: 100%;
  height: 5px;
  left: 0;
  bottom: 0;
  border-radius: 0 0 20px 20px;
  position: absolute;
  z-index: -2;
}
.item1 .features_itemContent::after {
  content: '';
  opacity: 0.1;
  background-image: url(../images/Vector1.png);
  background-position: -100% 0%;
  background-repeat: no-repeat;
  width: 202px;
  height: 270px;
  top: 1px;
  right: 0;
  position: absolute;
  z-index: -1;
}
.item2 .features_itemContent::after {
  content: '';
  opacity: 0.1;
  background-image: url(../images/Vector2.png);
  background-position: -100% 0%;
  background-repeat: no-repeat;
  width: 202px;
  height: 270px;
  top: 20px;
  right: 0;
  position: absolute;
  z-index: -1;
}
.item2::before {
  content: '';
  background-position: -100% 0%;
  background-repeat: no-repeat;
  background: #fff;
  width: 100%;
  height: 5px;
  left: 0;
  bottom: 3px;
  border-radius: 0 0 10px 10px;
  position: absolute;
  z-index: 1;
}
.item2::after {
  content: '';
  background-position: -100% 0%;
  background-repeat: no-repeat;
  background: linear-gradient(270deg, #66bbff 0%, #366eff 100%);
  width: 100%;
  height: 5px;
  left: 0;
  bottom: 0;
  border-radius: 0 0 20px 20px;
  position: absolute;
  z-index: -2;
}
.item3 .features_itemContent::after {
  content: '';
  opacity: 0.1;
  background-image: url(../images/Vector3.png);
  background-position: -100% 0%;
  background-repeat: no-repeat;
  width: 202px;
  height: 270px;
  top: 3px;
  right: 0;
  position: absolute;
  z-index: -1;
}
.item3::before {
  content: '';
  background-position: -100% 0%;
  background-repeat: no-repeat;
  background: #fff;
  width: 100%;
  height: 3px;
  left: 0;
  bottom: 3px;
  border-radius: 0 0 10px 10px;
  position: absolute;
  z-index: 1;
}
.item3::after {
  content: '';
  background-position: -100% 0%;
  background-repeat: no-repeat;
  background: linear-gradient(270deg, #66bbff 0%, #366eff 100%);
  width: 100%;
  height: 5px;
  left: 0;
  bottom: 0;
  border-radius: 0 0 20px 20px;
  position: absolute;
  z-index: -2;
}
.footer_text h2{
    font-size: 24px;
	line-height: 28px;
    color: #fff;
    margin-top: 16px;
    margin-bottom: 16px;
}
.footer_text p{
    font-size: 14px;
    margin-bottom: 10px;
}
.features_subtitle {
  opacity: 1;
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 15px;
}
.features_subtext {
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.faq {
  background: rgba(223, 223, 243, 0.1);
  border-top: 1px solid #dfdff3;
  border-bottom: 1px solid #dfdff3;
  padding: 100px 0;
}
.faq_title {
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.faq_text {
  font-size: 20px;
  line-height: 20px;
  opacity: 0.75;
  text-align: center;
}
.faq_wrapper {
  max-width: 980px;
  margin: 60px auto 0;
}
.faq_item {
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.faq_item:last-child {
  margin-bottom: 0;
}
.faq_titleWrp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq_subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #000;
}
.faq_arrow {
  width: 18px;
  height: 10px;
  background-repeat: no-repeat;
  background-image: url(../images/faqArrBlack.png);
}
.active .faq_arrow {
  width: 20px;
  background-image: url(../images/faqArr.png);
}
.faq_desc {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 16px;
  line-height: 16px;
  color: #000;
}
.faq_item.active {
  position: relative;
  background: linear-gradient(270deg, #f6921e 0%, #ed6c0c 100%);
}
.faq_item.active::after {
  content: '';
  width: 100px;
  height: 80px;
  background: url(../images/faqBG.png);
  position: absolute;
  left: 0;
  top: 0;
  background-repeat: no-repeat;
}
.faq_item.active .faq_desc {
  margin-top: 15px;
  color: #fff;
  max-height: 100%;
}

.faq_item.active .faq_subtitle {
  color: #fff;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.last {
  margin: 0;
  background-image: url(../images/last_bg.png);
  background-repeat: no-repeat;
  background-position: 0% 175%;
}
.footer {
  background: #000000;
  padding: 50px 0;
}
.footer_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_logo {
  height: 43px;
}
.footer_disclaimers {
  display: flex;
  font-size: 12px;
  line-height: 12px;
  text-align: right;
  color: #ffffff;
  opacity: 0.5;
  list-style: none;
}
.footer_disclaimers a {
  color: #ffffff;
  opacity: 0.5;
  margin-left: 20px;
}
.footer_text {
  margin-top: 30px;
  font-size: 12px;
  line-height: 18px;
  color: #ffffff;
  opacity: 0.4;
}
.footer_text b {
  font-weight: 700;
}
@media (min-width: 1921px) {
  .last {
    background-image: url(../images/last_bg.png);
    background-repeat: no-repeat;
    background-position: 40% 175%;
  }
}
.last_inner {
  padding-top: 100px;
      align-items: normal;
    justify-content: space-around;
}
.last_part1 {
  justify-content: start;
}
.last_subtitle {
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 30px;
}
.last_text {
  margin-bottom: 14px;
}
@media (max-width: 1200px) {
  .map {
    padding: 50px 0;
    background-position: 50% 57%;
  }
  .map_title {
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 12px;
  }
  .map_text {
    font-size: 20px;
    line-height: 26px;
    opacity: 0.75;
    margin-bottom: 60px;
  }
  .map_titleSecond {
    margin-top: 50px;
  }

  .earn {
    padding: 50px 0 40px;
  }
  .earn_title {
    font-size: 45px;
    line-height: 45px;
  }
  .earn_text {
    line-height: 26px;
  }
  .earn_wrp {
    margin-top: 40px;
  }
  .earn_img {
    width: calc(50% - 8px);
    margin-right: 16px;
  }

  .sliderItem_textWrp {
    max-width: 520px;
  }

  .features {
    padding: 50px 0;
  }
  .features_title {
    font-size: 45px;
    line-height: 45px;
  }
  .features_text {
    font-size: 20px;
    line-height: 26px;
  }
  .features_inner {
    margin-top: 30px;
    flex-direction: column;
  }
  .features_item {
    width: 100%;
    height: 275px;
  }
  .features_itemContent {
    max-width: 350px;
  }
  .item2 {
    margin: 30px 0;
    height: 308px;
  }
  .item1 .features_itemContent::after {
    width: 270px;
    height: 270px;
    background-position: 0 0;
    right: 40px;
  }
  .item2 .features_itemContent::after {
    width: 270px;
    height: 270px;
    background-position: 0 0;
    right: 25px;
  }
  .item3 .features_itemContent::after {
    width: 270px;
    height: 270px;
    background-position: 0 0;
    right: 40px;
  }
  .item1::before {
    height: 5px;
    bottom: 3px;
  }
  .item1::after {
    height: 5px;
  }
  .item3::before {
    height: 5px;
    bottom: 3px;
  }
  .item3::after {
    height: 5px;
  }

  .faq {
    padding: 50px 0;
  }
  .faq_wrapper {
    margin-top: 30px;
  }
  .faq_title {
    font-size: 45px;
    line-height: 45px;
  }
  .faq_text {
    line-height: 26px;
  }

  .last {
    background-position: 65% 155%;
  }
}
@media (max-width: 1023px) {
  .map {
    padding: 50px 0;
    background-position: 50% 59%;
  }
  .earn_wrp {
    position: relative;
    margin-bottom: 190px;
  }
  .earn_listWrp {
    position: absolute;
    bottom: -190px;
    left: 0;
    width: 100%;
  }
  .earn_hr {
    margin: 30px 0;
  }
  .earn_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 126px;
  }
  .earn_item {
    margin-right: 125px;
  }
  .earn_item:nth-of-type(4) {
    margin-bottom: 0;
  }
  .review {
    background-size: 150%;
    padding: 50px 0;
  }
  .review_title {
    font-size: 45px;
    line-height: 45px;
  }
  .review_text {
    line-height: 26px;
  }
  .review_slider {
    margin: 30px 0 28px;
  }
  .review_item {
    cursor: pointer;
    padding: 20px 20px 25px;
    margin: 20px 0;
    max-height: 315px;
    background: #fff;
  }
  .sliderItem_imgWrp {
    max-width: 250px;
    margin: -40px 20px -40px 0;
  }
  .sliderItem_textWrp {
    max-width: 410px;
  }
  .sliderItem_profit {
    font-size: 26px;
    line-height: 26px;
  }
  .review_inner {
    padding: 15px 20px;
  }
  .review_subtitle {
    padding-top: 1px;
    font-size: 30px;
    line-height: 30px;
  }
  .review_btn {
    max-width: 339px;
  }

  .faq_subtitle {
    max-width: 75%;
  }
  .faq_desc {
    max-width: 75%;
  }
  .last_inner {
    padding-top: 50px;
  }
}
@media (max-width: 767px) {
  .map {
    padding: 29px 0 35px;
    background-position: 50% 100%;
    background-size: 455%;
  }
  .map_text {
    margin-bottom: 22px;
  }
  .map_title {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .map_text {
    font-size: 14px;
    line-height: 24px;
  }
  .map_titleSecond {
    margin-top: 30px;
    font-size: 26px;
    line-height: 26px;
  }
  .map_textSecond {
    font-size: 14px;
    line-height: 24px;
  }
  .earn {
    padding: 30px 0;
  }
  .earn_title {
    font-size: 30px;
    line-height: 30px;
  }
  .earn_text {
    font-size: 14px;
    line-height: 24px;
  }
  .earn_wrp {
    margin-top: 20px;
    margin-bottom: 0;
    flex-direction: column;
  }
  .earn_img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .earn_subtitle {
    font-size: 30px;
    line-height: 30px;
  }
  .earn_subtext {
    font-size: 14px;
    line-height: 24px;
  }
  .earn_listWrp {
    position: initial;
  }
  .earn_hr {
    margin: 20px 0;
  }
  .earn_list {
    height: unset;
  }
  .earn_item:nth-of-type(4) {
    margin-bottom: 10px;
  }
  .earn_item {
    margin-right: 0;
    font-size: 14px;
    line-height: 14px;
  }

  .review {
    background-size: 375%;
    padding: 30px 0;
  }
  .review_title {
    font-size: 30px;
    line-height: 30px;
  }
  .review_text {
    font-size: 14px;
    line-height: 24px;
  }
  .review_slider {
    margin: 20px 0 30px;
  }
  .review_item {
    flex-direction: column;
    padding: 10px 10px 20px;
    margin: 0;
    max-height: 425px;
  }
  .sliderItem_imgWrp {
    margin: 0 0 10px;
    max-width: 100%;
  }
  .sliderItem_imgWrp img {
    display: block;
    width: 100%;
    object-fit: cover;
  }
  .sliderItem_textWrp {
    min-height: 200px;
  }
  .sliderItem_name {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 0;
  }
  .sliderItem_city {
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 10px;
  }
  .sliderItem_text {
    font-size: 14px;
    line-height: 22px;
  }
  .sliderItem_profit {
    font-size: 24px;
    line-height: 24px;
  }
  .mySwiperReview .swiper-wrapper {
    padding-bottom: 32px !important;
  }
  .review_inner {
    padding: 20px 17px;
    flex-direction: column;
  }
  .review_innerText {
    text-align: center;
  }
  .review_subtitle {
    font-size: 24px;
    line-height: 24px;
  }
  .review_subtext {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
  }
  .review_btn {
    max-width: 100%;
  }

  .features {
    padding: 30px 0;
  }
  .features_title {
    font-size: 30px;
    line-height: 30px;
  }
  .features_text {
    font-size: 14px;
    line-height: 24px;
  }
  .features_inner {
    margin-top: 20px;
  }
  .features_item {
    padding: 30px 20px;
    height: unset;
    min-height: unset;
    overflow: hidden;
  }
  .features_itemContent {
    max-width: 350px;
  }
  .features_subtitle {
    font-size: 18px;
    line-height: 18px;
  }
  .features_subtext {
    font-size: 14px;
    line-height: 24px;
  }
  .item2 {
    margin: 20px 0;
    height: unset;
  }
  .item1 .features_itemContent::after {
    background-position: -100% 0%;
    width: 205px;
    height: 270px;
    top: -85px;
    right: 0;
  }
  .item2 .features_itemContent::after {
    background-position: -100% 0%;
    width: 202px;
    height: 270px;
    top: -5px;
    right: 0;
  }
  .item3 .features_itemContent::after {
    background-position: -100% 0%;
    width: 202px;
    height: 270px;
    top: 3px;
    right: 0;
  }
  .item1::before {
    height: 5px;
    bottom: 3px;
  }
  .item1::after {
    height: 5px;
  }
  .item3::before {
    height: 5px;
    bottom: 3px;
  }
  .item3::after {
    height: 5px;
  }

  .faq {
    padding: 30px 0;
  }
  .faq_wrapper {
    margin-top: 20px;
  }
  .faq_title {
    font-size: 30px;
    line-height: 30px;
  }
  .faq_text {
    font-size: 14px;
    line-height: 24px;
  }
  .faq_subtitle {
    font-size: 14px;
    line-height: 16px;
  }
  .faq_item.active .faq_desc {
    margin-top: 5px;
    font-size: 14px;
  }
  .last_inner {
    padding-top: 30px;
  }
  .last_subtitle {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 20px;
  }
  .last_text {
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 15px;
  }
  .last_text:last-of-type {
    margin-bottom: 20px;
  }
  .last .hero_part3 {
    margin-bottom: 20px;
  }

  .footer {
    padding: 20px 0;
  }
  .footer_inner {
    flex-direction: column;
  }
  .footer_disclaimers {
    font-size: 9px;
    line-height: 9px;
  }
  .footer_disclaimers a {
    margin-top: 30px;
  }
  .first a:first-of-type {
    margin-left: 0;
  }
  .footer_text {
    font-size: 10px;
    line-height: 16px;
  }
}
@media (max-width: 413px) {
  .sliderItem_textWrp {
    min-height: 215px;
  }
}
