@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Semibold.woff2);
  font-weight: 600;
}
@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy-Extrabold.woff2);
  font-weight: 800;
}

html {
  background: #292929;
}

.header {
  background: #292929;
  box-shadow: 0px -0.6px 2.2px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 8.4px;
  color: #fff;
  font-family: Gilroy;
  font-size: 22.2px;
  font-weight: 500;
  line-height: 130%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 15px 40px 15px;
  background: #fff;
}

.main__top {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
}

.main__intro {
  border-radius: 10px;
  background: #24b23e;
  display: flex;
  padding: 10px 0px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 345px;
  width: 100%;
}

.intro__heading {
  color: #fff;
  text-align: center;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}

.intro__heading.top {
  font-size: 20px;
  font-weight: 800;
}

.main__vid {
  max-width: 345px;
  width: 100%;
}

.main__vid > video {
  width: 100%;
  border-radius: 10px;
  border: 1px solid black;
}

.main__quiz {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid #d2d2d2;
  margin-top: 20px;
  max-width: 345px;
  width: 100%;
  overflow-x: hidden;
}

.quiz__wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.4s ease, opacity 0.4s ease;
  pointer-events: none;
}

.quiz__wrapper.active {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
  z-index: 2;
}

.quiz__heading {
  border-bottom: 2px solid #24b23e;
  padding: 10px 0;
  color: #292929;
  text-align: center;
  font-family: Gilroy;
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  width: 100%;
}

.quiz__question {
  color: #292929;
  text-align: center;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 600;
  line-height: 120%;
  margin: 10px 0;
}

.quiz__buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-top: 10px;
  width: 100%;
}

.quiz__button,
.quiz__button1,
.quiz__button2,
.quiz__button3,
.quiz__button4,
.quiz__button5 {
  border-radius: 10px;
  border: none;
  background: #24b23e;
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 700;
  width: 100%;
  transition: box-shadow 250ms ease;
}
.quiz__button:active,
.quiz__button1:active,
.quiz__button2:active,
.quiz__button3:active,
.quiz__button4:active,
.quiz__button5:active {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.quiz__button5 {
  font-size: 12px;
}

.footer {
  background: #292929;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.footer__logo.mobile {
  align-self: center;
}

.footer__logo.desktop {
  display: none;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
}
.menu__item {
  color: #fff;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.footer__info {
  display: flex;
  padding: 15px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.footer__text {
  color: #878b90;
  font-family: Arial;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1.4px;
}
.footer__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  align-self: center;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(58, 58, 58, 0.1);
  backdrop-filter: blur(41px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 0 15px;
  box-sizing: border-box;
}

.modal.hidden {
  display: none;
}

.modal__content {
  display: flex;
  padding: 20px 30px 15px 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  max-width: 340px;
  width: 100%;
  border-radius: 25px;
  background: #f9f9f9;
  box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.25) inset,
    85px 110px 39px 0px rgba(0, 0, 0, 0), 54px 70px 36px 0px rgba(0, 0, 0, 0.01),
    31px 40px 30px 0px rgba(0, 0, 0, 0.05),
    14px 18px 22px 0px rgba(0, 0, 0, 0.09), 3px 4px 12px 0px rgba(0, 0, 0, 0.1);
}

.modal__question {
  color: #000;
  text-align: center;
  font-family: Gilroy;
  font-size: 22px;
  font-weight: 600;
  line-height: 120%;
  padding-bottom: 5px;
  border-bottom: 2px solid #24b23e;
  width: 100%;
}

.modal__question.second {
  font-size: 28px;
  margin-top: 0;
}

.modal__accent {
  text-align: center;
  font-family: Gilroy;
  font-size: 36px;
  font-weight: 900;
  line-height: 33px;
  background: var(--1, linear-gradient(97deg, #a2b3de 0%, #3c63c2 100%));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal__actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.modal__button--first,
.modal__button--second {
  border-radius: 10px;
  background: #24b23e;
  border: none;
  display: flex;
  width: 100%;
  max-width: 130px;
  padding: 13px 20px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Gilroy;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
}

.modal__button--no {
  background: #515151;
}

.contact-form {
  width: 100%;
  max-width: 530px;
}

.form-input {
  border-radius: 10px;
  background: #f4f6fa;
  display: flex;
  height: 40px;
  padding: 18px 20px;
  align-items: center;
  font-family: Gilroy;
  font-size: 16px;
}

.form-input::placeholder {
  color: rgba(41, 41, 41, 0.7);
  font-family: Gilroy;
  font-size: 16px;
}

.hidden {
  display: none;
}

@media (min-width: 1024px) {
  .header {
    height: 90px;
    font-size: 40px;
  }
  .main__top {
    flex-direction: column-reverse;
  }
  .logo1 {
    width: 58px;
  }
  .logo2 {
    width: 250px;
  }
  .main {
    padding: 40px 40px 80px 40px;
  }
  .main__vid {
    max-width: 1140px;
  }
  .main__intro {
    max-width: 1140px;
  }
  .intro__heading {
    font-size: 34px;
    font-weight: 600;
  }
  .intro__heading.top {
    font-size: 55px;
  }
  .main__quiz {
    max-width: 1140px;
  }
  .quiz__heading {
    max-width: 530px;
    font-size: 28px;
  }
  .quiz__question {
    font-size: 24px;
    margin: 50px 0;
  }
  .quiz__buttons {
    max-width: 530px;
  }
  .quiz__button,
  .quiz__button1,
  .quiz__button2,
  .quiz__button3,
  .quiz__button4,
  .quiz__button5 {
    padding: 18px 20px;
    font-size: 20px;
  }
  .footer {
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    padding: 0px 40px;
  }
  .footer__logo.mobile {
    display: none;
  }
  .footer__logo.desktop {
    display: block;
  }
  .footer__menu {
    flex-direction: row;
    align-items: center;
    max-width: 430px;
    gap: 14px 50px;
    flex-wrap: wrap;
  }
  .footer__socials {
    align-self: flex-start;
  }
  .form-input {
    height: auto;
  }
  .modal__content {
    max-width: 450px;
  }
  .modal__question {
    font-size: 28px;
  }
  .modal__button--first,
  .modal__button--second {
    font-size: 20px;
  }
}
