* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

header {
  border-bottom: 1px solid #000;
  background: #fff;
  display: flex;
  height: 56px;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

.header__right,
.header__left > a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.header__right > a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.main__heading {
  border-bottom: 1px solid #7b7b7b;
  display: flex;
  height: 50px;
  padding: 15px 30px;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin-top: 10px;
}

.heading__date,
.heading__views {
  color: #7b7b7b;
  font-family: "Roboto Flex";
  font-size: 14px;
  line-height: 18px;
  display: flex;
  align-items: center;
  gap: 4px;
}

.main__article {
  margin: 100px 0;
  max-width: 1120px;
  display: flex;
  gap: 100px;
  width: 100%;
  justify-content: space-between;
}

.main__article-wrap {
  max-width: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.article--first {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}

.article__heading {
  color: #000;
  font-family: "Roboto Flex";
  font-size: 36px;
  font-weight: 500;
  line-height: 40px;
}

.article__subheading {
  color: #7b7b7b;
  font-family: "Roboto Flex";
  font-size: 16px;
  line-height: 20px;
  margin-top: 8px;
  font-weight: 400;
}

.article__image {
  max-width: 650px;
  width: 100%;
  margin-top: 8px;
}

.article__image > img {
  width: 100%;
}

.article__copyright {
  margin-top: 8px;
  display: flex;
  gap: 3px;
  align-items: center;
}

.copyright__text {
  color: #7b7b7b;
  font-family: "Roboto Flex";
  font-size: 12px;
  line-height: 15px;
}

.copyright__text.bottom {
  margin-top: 5px;
}

.article__dzen {
  border-bottom: 1px solid #000;
  align-items: center;
  display: flex;
  gap: 14px;
  margin-top: 25px;
}

.dzen__text {
  color: #454545;
  font-family: "Roboto Flex";
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.dzen__logo {
  display: flex;
  align-items: center;
  gap: 4px;
}

.article__description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  margin-top: 24px;
}

.description__text {
  color: #454545;
  font-family: "Roboto Flex";
  font-size: 18px;
  line-height: 28px;
}

.description__text > .accent {
  font-weight: 600;
}

.description__text > .underline {
  text-decoration: underline;
}

.main__partner-wrap {
  max-width: 300px;
  width: 100%;
}

.partner__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.partner__heading {
  color: #000;
  font-family: Arial;
  font-size: 20px;
  font-weight: 400;
  line-height: 22px;
}
.partner__heading.bottom {
  font-size: 18px;
  line-height: 20px;
  margin-top: 6px;
}
.partner__subheading {
  color: #454545;
  font-family: Arial;
  font-size: 14px;
  line-height: 24px;
}

.partner__image {
  max-width: 300px;
  width: 100%;
  margin-top: 12px;
}
.partner__image > img {
  width: 100%;
}

.partner__articles {
  margin-top: 20px;
}

.partner__article {
  display: flex;
  gap: 10px;
  padding: 10px 0;
  border-top: 1px solid #000;
  align-items: flex-start;
}

.partner__article > a {
  color: #000;
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
}

.article__image.second {
  margin-top: 24px;
}

.article__addon {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px 0px;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  margin-top: 20px;
}

.addon__heading {
  color: #000;
  font-family: "Roboto Flex";
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.addon__content {
  display: flex;
  flex-direction: column;
  height: 115px;
  justify-content: space-between;
}

.addon__date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addon__date > span {
  color: #7b7b7b;
  font-family: "Roboto Flex";
  font-size: 12px;
  line-height: 12px;
}

.article__reactions {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0);
  box-shadow: 4px 4px 12px 0px rgba(0, 27, 83, 0.1);
  display: flex;
  padding: 20px 36px;
  align-items: center;
  justify-content: space-between;
}

.reaction {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.reaction__count {
  color: #7b7b7b;
  font-family: "Roboto Flex";
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.6px;
}

.article__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 6px;
  padding-top: 25px;
}

.tag {
  display: flex;
  padding: 1px 11px;
  border-radius: 2px;
  border: 1px solid #7b7b7b;
  color: #454545;
  font-family: "Roboto Flex";
  font-size: 14px;
  line-height: 24px;
}

.article__partners {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.partners__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.partners__text {
  display: flex;
  gap: 20px;
  align-items: flex-end;
}

.partners__heading {
  color: #000;
  font-family: "Roboto Flex";
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}
.partners__subheading {
  color: #7b7b7b;
  font-family: "Roboto Flex";
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
}

.partners__arrows {
  display: flex;
  align-items: center;
  gap: 2px;
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.partners__articles {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  overflow: hidden;
  scroll-behavior: smooth;
  user-select: none;
}

.partners__article {
  background: #f0f0f0;
  display: flex;
  flex-direction: column;
  height: 230px;
  width: 170px;
  gap: 12px;
  flex-shrink: 0;
  cursor: pointer;
}

.partners__article > img {
  height: 106px;
}

.partners__article > a {
  color: #333;
  font-family: "Roboto Flex";
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.footer {
  background: #262626;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__socials {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0px 30px;
  justify-content: center;
  align-items: flex-start;
  gap: 2px;
  margin-top: 20px;
  padding-bottom: 10px;
  overflow-x: auto;
  scroll-behavior: smooth;
  user-select: none;
  white-space: nowrap;
}

.footer__socials::-webkit-scrollbar {
  display: none;
}

.social {
  height: 40px;
  width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.vk {
  background: #07f;
}
.ok {
  background: #f97400;
}
.dzen {
  background: #000;
}
.rt {
  background: #100943;
}
.viber {
  background: #7360f2;
}
.tg {
  background: #2aabee;
}
.x {
  background: #000;
}
.lght {
  background: #ff4545;
}

.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 25px;
  overflow: hidden;
  max-width: 100%;
  padding-bottom: 40px;
}

.footer__links--top,
.footer__links--bottom {
  padding: 0px 30px;
  overflow-x: auto;
  scroll-behavior: smooth;
  user-select: none;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  max-width: 100%;
}

.footer__links--top a,
.footer__links--bottom a {
  flex-shrink: 0;
  color: #fff;
  text-align: center;
  font-family: "Roboto Flex";
  font-size: 15px;
  line-height: 22.5px;
  flex-shrink: 0;
}

.footer__links--top::-webkit-scrollbar,
.footer__links--bottom::-webkit-scrollbar {
  display: none;
}

.footer__links--top a {
  font-weight: 300;
}

.footer__links--bottom a {
  font-weight: 600;
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  max-width: 1400px;
  width: 100%;
}
.footer__text-wrap {
  display: flex;
  gap: 20px;
}

.footer__text {
  color: #dedede;
  font-family: "Roboto Flex";
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  align-self: stretch;
  flex: 1 0 0;
}

.footer__text > .accent {
  font-weight: 600;
}

.footer__bottom-wrap {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding: 20px 0;
}

.mobile {
  display: none;
}

@media (max-width: 1024px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
  }
  .main__article {
    justify-content: center;
    margin: 10px 0 100px 0;
  }
  .main__article-wrap {
    gap: 60px;
  }
  .main__heading.mobile {
    margin-bottom: 30px;
    margin-left: -20px;
    margin-right: -20px;
    width: calc(100% + 40px);
  }
  .article__heading {
    font-size: 26px;
    line-height: 30px;
  }
  .article__dzen {
    margin-top: 10px;
  }
  .article__reactions {
    padding: 20px;
    justify-content: space-around;
  }
  .header {
    padding: 0 10px;
  }
  .header__right a:nth-child(1) img {
    content: url("../img/icons/user.svg");
  }

  .header__right a:nth-child(2) img {
    content: url("../img/icons/search.svg");
  }
  .article__copyright {
    align-items: flex-start;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .footer__text-wrap {
    flex-direction: column;
  }
  .footer__socials {
    justify-content: flex-start;
    padding: 0 20px;
  }
  .footer__bottom {
    padding: 0 20px 80px 20px;
  }
}
