* {
  box-sizing: border-box;
}
body {
  font-family: "system-ui";
  margin: 0;
}
p {
  margin: 0;
  padding: 0;
}
.pageloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../images/loader.gif") 50% 50% no-repeat rgb(249, 249, 249);
  opacity: 0.8;
}
.main-bg {
  background: url(../images/bg.jpg) no-repeat center center;
  background-size: cover;
  height: 100vh;
}
.pattern-bg {
  height: 100vh;
}
.header {
  width: 40%;
  margin: 0 auto;
  background: #fff;
  border-bottom: 1px solid #a4a39e;
}
.header__row {
  padding: 16px 8px 8px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__center {
  display: flex;
  align-items: flex-start;
}
.header__logo-icon {
  width: 40px;
  height: 32px;
  padding-right: 8px;
}
.header__logo-title {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
}
.header__text-online {
  color: #898989;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.024px;
}
.header__icon-verified {
  margin: 4px 0 0 4px;
}
.main-chat {
  width: 40%;
  padding: 0 16px;
  height: 90%;
  overflow-y: scroll;
  padding-bottom: 90px;
  margin: 0 auto;
}
.date {
  margin: auto;
  width: fit-content;
  margin-top: 15px;
  padding: 2px 16px;
  border-radius: 6px;
  background: #dbdfeb;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
  color: #414350;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.left-chat,
.right-chat {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
  justify-content: left;
}
.left-chat {
  padding-left: 8px;
  position: relative;
  margin-bottom: 2px;
  padding-right: 20px;
}
.left-chat:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 8px;
  height: 16px;
  background: url(../images/avatar.svg) no-repeat center center;
  background-size: cover;
}
.left-chat .chat-block {
  display: flex;
  line-height: 1.2;
  padding: 8px 8px 26px;
  border-radius: 6px;
  background: #f9f9f9;
  position: relative;
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.left-chat .chat-block:after {
  position: absolute;
  bottom: 6px;
  right: 12px;
  color: #a7a7a7;
  text-align: right;
  font-size: 12px;
}
.right-chat {
  justify-content: right;
  flex-direction: row-reverse;
}
.right-chat {
  display: flex;
  width: 100%;
  position: relative;
}
.right-chat .chat-block {
  border-radius: 6px;
  background: #dcf8c7;
  color: #000;
  padding: 6px 80px 4px 12px;
  position: relative;
  max-width: 84%;
  box-shadow: -1px 1px 1px 0 rgba(0, 0, 0, 0.1);
}
.right-chat .chat-block:after {
  content: url(../images/checked.svg);
  position: absolute;
  right: 12px;
  bottom: 0;
}
.time {
  margin-left: 12px;
  margin-right: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  color: rgba(255, 255, 255, 0.7);
}
.time,
.time-right {
  position: absolute;
  bottom: 8px;
  right: 0;
  color: rgba(0, 0, 0, 0.15);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.time-right {
  right: 36px;
  bottom: 6px;
  color: rgba(0, 0, 0, 0.15);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.horizontal,
.vertical {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 10px;
}
.vertical {
  justify-content: left;
  flex-direction: column;
}
.horizontal {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
  padding-left: 8px;
}
.vertical {
  padding-left: 8px;
  margin-bottom: 10px;
}
.answer-btn {
  border-radius: 6px;
  background: #c8deff;
  padding: 12px 8px;
  color: #000000;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
}
.vertical .answer-btn {
  margin-bottom: 6px;
}
.horizontal .answer-btn {
  padding: 12px 40px;
}
.horizontal .answer-btn:not(:last-of-type) {
  margin-right: 6px;
}
@media screen and (max-width: 767px) {
  .header {
    width: 100%;
  }
  .main-chat {
    width: 100%;
  }
}
.footer {
  width: 100%;
  background-color: white;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #a4a39e;
}
.footer__wrapper {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.footer__input {
  border-radius: 25px;
  width: 100%;
  font-size: 18px;
  padding: 8px 15px;
  outline: none;
  border: 2px solid #007aff;
  &::placeholder {
    font-size: 16px;
  }
}
.footer__btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.contact-form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  background-color: #fff;
}
.form-group:last-child {
  margin-bottom: 0;
}
.input-label {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0779c2;
  display: flex;
  align-items: center;
  z-index: 1000;
  padding: 0 15px;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
}

.modal.hidden {
  display: none;
}
.modal__blur-bg {
  position: absolute;
  width: 100%;
  max-width: 345px;
  height: 442px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 442px;
  background: #cee7ea;
  filter: blur(81.85px);
  z-index: 0;
}
.modal__blur-bg.thanks {
  max-width: 345px;
  height: 553px;
}
.modal__header {
  padding: 15px 20px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 1;
}

.modal__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  position: relative;
  z-index: 1;
  margin-top: 70px;
}

.modal__content.second {
  margin-top: 0;
  padding-bottom: 30px;
}

.modal__heading {
  color: #003073;
  text-align: center;
  font-family: "Open Sans";
  font-size: 40px;
  font-weight: 800;
  line-height: 120%;
}

.modal__heading.bottom {
  text-transform: uppercase;
  font-size: 50px;
  line-height: 100%;
}

.modal__descr {
  color: #003073;
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  max-width: 260px;
}

.modal__button {
  border-radius: 5px;
  background: linear-gradient(90deg, #fff 0%, #7b7777 100%);
  box-shadow: -3px -3px 10px 0px rgba(0, 0, 0, 0.25),
    3px 3px 5px 0px rgba(0, 0, 0, 0.25);
  border: none;
  display: flex;
  padding: 25px 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: #21212b;
  text-align: center;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  height: 35px;
  max-width: 305px;
}
.modal__image {
  width: 100%;
  max-width: 295px;
  margin-top: 15px;
}
.modal__image.second {
  max-width: 290px;
  margin-top: 0;
}
.modal__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 350px;
}
.modal__item {
  color: #003073;
  text-align: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.5px;
}
.modal__item:last-child {
  font-weight: 700;
  max-width: 250px;
}
.hidden {
  display: none;
}

@media (min-width: 1024px) {
  .modal__header {
    padding: 50px 80px;
  }
  .modal__header > img:first-child {
    width: 190px;
  }
  .modal__header > img:last-child {
    width: 82px;
  }
  .modal__content {
    margin-top: 0;
    gap: 40px;
  }
  .modal__heading {
    font-size: 70px;
    line-height: 90%;
  }
  .modal__descr {
    font-size: 40px;
    max-width: 550px;
  }
  .modal__heading.bottom {
    font-size: 90px;
  }
  .modal__button {
    height: auto;
    font-size: 48px;
    max-width: 620px;
  }
  .modal__button.second {
    margin-top: 80px;
  }
  .modal__image {
    max-width: 520px;
  }
  .modal__blur-bg,
  .modal__blur-bg.thanks {
    max-width: 780px;
    height: 1200px;
    filter: blur(280px);
    top: 70%;
  }

  .modal__content.second {
    gap: 35px;
    padding-bottom: 50px;
  }
  .modal__image.second {
    max-width: 525px;
  }
  .modal__list {
    max-width: 900px;
    gap: 40px;
  }
  .modal__item {
    font-size: 40px;
  }
  .modal__item:last-child {
    max-width: 650px;
  }
}
