body {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  background-color: transparent;
  border: none;
}

.header {
  display: flex;
  justify-content: space-between;
  max-width: 1376px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 15px;
  padding-top: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__content {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header__list {
  display: flex;
  gap: 35px;
}
.header__item {
  display: flex;
  align-items: center;
}

.header__item:nth-child(3) {
  gap: 8px;
}

.header__item > a {
  color: #808080;
  text-align: center;
  font-family: Arial;
  font-size: 14px;
  line-height: 16px; /* 114.286% */
}

.header__entry {
  display: flex;
  gap: 20px;
}
.header__login {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #808080;
  font-family: Arial;
  font-size: 16px;
  line-height: 20px; /* 125% */
}

.header__signup {
  display: flex;
  width: 165px;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 10px 16px;
  border-radius: 16px;
  background: #006df0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.02);
  color: white;
  font-family: Arial;
  font-size: 16px;
  line-height: 20px;
}
