body {
  background: #e8eef8;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 10px 15px;
  background: #17181e;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.main__banner {
  width: 100%;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}

.main__banner > img {
  width: 100%;
}

.main__wrapper {
  padding: 20px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 10px;
  background: #fff;
  margin: 0 22.5px;
  max-width: 500px;
}

.main__heading-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.main__heading {
  color: #000;
  text-align: center;
  font-family: "IBM Plex Sans";
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  max-width: 325px;
}

.main__subheading {
  font-family: "IBM Plex Sans";
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  background: linear-gradient(82deg, #fa0 3.66%, #ffc54e 90.63%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main__info {
  color: #121214;
  text-align: center;
  font-family: "IBM Plex Sans";
  font-size: 18px;
  font-weight: 600;
  line-height: 120%;
}

.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px 0;
}

.content__item {
  border-bottom: 1px solid #ffffff;
  max-width: 325px;
  width: 100%;
  color: #000;
  font-family: "IBM Plex Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  text-align: center;
  padding: 10px;
}

.content__item > .accent {
  font-size: 28px;
  font-weight: 700;
}

.main__button {
  border-radius: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-align: center;
  font-family: "IBM Plex Sans";
  font-size: 16.6px;
  font-weight: 700;
  line-height: 50px;
  width: calc(100% - 45px);
  max-width: 500px;
  transition: box-shadow 250ms ease-in-out;
  background: linear-gradient(82deg, #fa0 3.66%, #ffc54e 90.63%);
  margin: 0 22.5px;
}

.main__button:active,
.main__button:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.main__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding-left: 20px;
}

.list__item {
  color: #000;
  font-family: "IBM Plex Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  list-style-type: disc;
}

.screen__wrapper {
  height: 100%;
  background: rgba(46, 46, 46, 0.7);
  backdrop-filter: blur(25px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: fixed;
  top: 0;
}

.screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  opacity: 1;
  transition: opacity 0.4s ease;
  width: 100%;
  position: fixed;
  top: 0;
}

.modal__content {
  border-radius: 10px;
  background: #fff;
  max-width: 330px;
  width: 100%;
  gap: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.modal__content.quiz.ticket {
  gap: 10px;
}

.modal__heading {
  display: flex;
  width: calc(100% + 40px);
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background: #17181e;
  margin-top: -20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal__heading.ticket {
  justify-content: center;
}

.modal__heading.form {
  width: calc(100% + 50px);
  justify-content: center;
}

.modal__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: calc(100% + 40px);
}

.modal__info.ticket {
  background: linear-gradient(82deg, #fa0 3.66%, #ffc54e 90.63%);
  padding: 5px 10px;
  gap: 5px;
}

.modal__image {
  width: 160px;
}

.modal__ticket {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: relative;
  height: 35px;
}

.modal__ticket > img {
  width: 100%;
}

.modal__subheading {
  color: #121214;
  text-align: center;
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-weight: 700;
}

.modal__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  max-width: 250px;
}

.modal__item {
  color: #121214;
  font-family: "IBM Plex Sans";
  font-size: 14px;
  font-weight: 500;
  list-style-type: disc;
}

.modal__date {
  color: rgba(0, 0, 0, 0.3);
  font-family: "IBM Plex Sans";
  font-size: 10px;
  font-weight: 500;
  margin-bottom: -20px;
}

.info__text {
  color: #121214;
  text-align: center;
  font-family: "IBM Plex Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  max-width: 270px;
}

.info__text.accent {
  background: linear-gradient(82deg, #fa0 3.66%, #ffc54e 90.63%);
  padding: 10px;
  width: 100%;
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  max-width: none;
}

.info__text.accent.ticket {
  padding: 0;
}

.fade-out {
  opacity: 0;
}

.fade-in {
  opacity: 0;
}

.fade-in.showing {
  opacity: 1;
}

.quiz__items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 15px;
}

.quiz__item {
  border-radius: 10px;
  background: linear-gradient(82deg, #fa0 3.66%, #ffc54e 90.63%);
  border: none;
  display: flex;
  height: 50px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  max-width: 280px;
  width: 100%;
  color: #121214;
  text-align: center;
  font-family: "IBM Plex Sans";
  font-size: 16.6px;
  font-style: normal;
  line-height: 50px;
  transition: background 250ms ease-in-out, color 250ms ease-in-out,
    box-shadow 250ms ease-in-out;
}

.quiz__item:active {
  background: linear-gradient(82deg, rgb(212, 142, 1) 3.66%, #cb9c3e 90.63%);
  color: #000;
}

.quiz__item:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.quiz__heading {
  color: #17181e;
  text-align: center;
  font-family: "IBM Plex Sans";
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.form-heading {
  color: #121214;
  text-align: center;
  font-family: "IBM Plex Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 20px;
}

.input-label {
  color: #121214;
  font-family: "IBM Plex Sans";
  font-size: 14px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 4.5px;
}

.form-input {
  border-radius: 6px;
  background: #f5f7fa;
  display: flex;
  border: none;
  align-items: center;
  padding: 15px 17px;
  height: auto;
  font-family: "IBM Plex Sans";
  font-size: 14px;
}

.form-input::placeholder {
  color: #81858c;
  font-family: "IBM Plex Sans";
  font-size: 12px;
}

.form-group:last-child {
  margin-bottom: 0;
  margin-top: 25px;
}

#contact-method {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  z-index: 10;
  width: 100%;
  max-width: none;
}

#contact-method:focus {
  outline: none;
}

select option {
  background: white;
  color: black;
}

.screen.main__thanks {
  width: 100%;
  padding: 0 25px 40px 25px;
  background-position: top;
  background-repeat: no-repeat;
  position: unset;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.modal__content.quiz.form {
  padding: 20px 25px;
  gap: 25px;
}

.modal__content.thanks {
  gap: 40px;
  padding: 30px 20px;
  margin-top: 40px;
}

.thanks__heading-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.thanks__heading {
  text-align: center;
  font-family: "IBM Plex Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.28px;
  text-transform: uppercase;
  background: linear-gradient(82deg, #fa0 3.66%, #ffc54e 90.63%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.thanks__text {
  color: #17181e;
  text-align: center;
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.16px;
  text-transform: uppercase;
}

.thanks__text.accent {
  color: #f00;
}

.thanks__code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.code__text {
  text-align: center;
  font-family: "IBM Plex Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.16px;
  text-transform: uppercase;
  background: var(--1, linear-gradient(82deg, #fa0 3.66%, #ffc54e 90.63%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.code__num {
  color: #17181e;
  text-align: center;
  font-family: "IBM Plex Sans";
  font-size: 36px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.36px;
  text-transform: uppercase;
}

.thanks__guarantee {
  color: #7c8594;
  text-align: center;
  font-family: "IBM Plex Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: -0.12px;
  text-transform: uppercase;
}

.main-thankyou__block {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #fff;
  padding: 15px;
}

.main-thankyou__block > h3 {
  color: #fff;
  text-align: center;
  font-family: "IBM Plex Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}

.main-thankyou__block > span {
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.13px;
}
.timer {
  color: #fff;
  text-align: center;
  font-family: "IBM Plex Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
}
.timer.thanks {
  color: #fff;
  text-align: center;
  font-family: "IBM Plex Sans";
  font-size: 32px;
  font-weight: 600;
  line-height: 28px;
}

.main-image.thanks > img {
  width: 65px;
  animation: ring 1.5s infinite ease-in-out;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(10deg);
  }
  45% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.main-thankyou__testimonials {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;
  max-width: 1080px;
}

.testimonials__heading {
  color: #17181e;
  text-align: center;
  font-family: "IBM Plex Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.9px;
}

.testimonials__stats {
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
}

.stats-block {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  color: #121214;
  font-family: "IBM Plex Sans";
  max-width: 330px;
}

.stat-item {
  margin-bottom: 24px;
}

.stat-item.large {
  margin-bottom: 40px;
}

.stat-value {
  font-size: 28px;
  font-weight: 600;
  color: #f7a600;
}

.stat-label {
  font-size: 14px;
  color: #121214;
  margin-top: 4px;
}

.stats-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 24px;
}

.divider {
  width: 1px;
  height: 48px;
  background-color: #acacac;
}

.testimonials__features {
  background: #fff;
  padding: 40px 20px;
  color: #121214;
  font-family: "IBM Plex Sans";
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 330px;
  border-radius: 20px;
}

.feature {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.icon {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
  background: transparent; /* вставь SVG или img внутри */
}

.text h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  margin: 0;
}

.text p {
  color: #acacac;
  font-size: 14px;
  line-height: 1.5;
  margin: 4px 0 0;
}

.contact-form {
  max-width: 330px;
}

.hidden {
  display: none;
}

@media (min-width: 500px) {
  .main__banner > img {
    border-radius: 10px;
  }
}

@media (min-width: 1024px) {
  .main__wrapper {
    max-width: 500px;
  }
  .modal__content {
    max-width: 500px;
  }
  .modal__content.quiz.form {
    max-width: 500px;
  }
  .modal__content.thanks {
    max-width: 500px;
  }
  .stats-block {
    max-width: 500px;
  }
  .testimonials__features {
    max-width: 500px;
  }
}
