@font-face {
  font-family: "Fixel Display";
  src: url(../fonts/FixelDisplay-Light.woff2);
  font-weight: 300;
}
@font-face {
  font-family: "Fixel Display";
  src: url(../fonts/FixelDisplay-Regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Fixel Display";
  src: url(../fonts/FixelDisplay-Medium.woff2);
  font-weight: 500;
}
@font-face {
  font-family: "Fixel Display";
  src: url(../fonts/FixelDisplay-Bold.woff2);
  font-weight: 700;
}
@font-face {
  font-family: "Fixel Display";
  src: url(../fonts/FixelDisplay-ExtraBold.woff2);
  font-weight: 800;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: radial-gradient(
    100% 80% at 50% 1%,
    rgba(0, 0, 0, 0) 0%,
    #000 40%,
    #205af0 65%,
    #1a77f1 90%,
    #1398f2 100%
  );
  background-color: #000;
  background-repeat: no-repeat;
}

button {
  cursor: pointer;
  border: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  overflow-x: hidden;
}

.main__heading {
  background: linear-gradient(98deg, #f99c1c 0%, #f8d631 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 50px;
  display: flex;
  padding: 13px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main__heading > h1 {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
}

.main__subheading {
  text-align: center;
  font-family: "Fixel Display";
  font-size: 24px;
  font-weight: 800;
  line-height: 123%;
  background: linear-gradient(180deg, #fff 0%, rgba(199, 199, 199, 0) 284.62%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 20px;
}

.main__bonus {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.bonus__heading {
  text-align: center;
  font-family: "Fixel Display";
  font-size: 24px;
  font-weight: 800;
  line-height: 123%;
  background: linear-gradient(180deg, #fff 0%, rgba(199, 199, 199, 0) 284.62%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bonus__sum {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(117, 117, 117, 0.25);
  font-family: "Plus Jakarta Sans";
  font-size: 36px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: -2.9px;
  text-transform: uppercase;
}

.main__coin {
  width: 460px;
  height: 460px;
  position: relative;
}

.main__coin > img {
  width: 100%;
  position: absolute;
  z-index: 2;
}

.main__bottom {
  margin: 25px 15px 0 15px;
  color: #fff;
  text-align: center;
  font-family: "Fixel Display";
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
}

.coin-wrap {
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  bottom: -95px;
  opacity: 1;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
  animation: floatUp 1s forwards;
  background-image: url(../img/bg_sum.png);
  width: 200px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  z-index: 3;
}

.coin-wrap.disappear {
  left: 50%;
  bottom: -95px;
  animation: disappear 0.5s ease forwards;
}

.coin-value {
  position: absolute;
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(117, 117, 117, 0.25);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 42px;
  font-weight: 800;
  letter-spacing: -3.3px;
  text-transform: uppercase;
  opacity: 1;
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

@keyframes disappear {
  0% {
    opacity: 1;
    transform: translateX(-50%) translateY(-40px) scale(1);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-40px) scale(0);
  }
}

@keyframes floatUp {
  0% {
    transform: translateX(-50%) translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-50%) translateY(-40px);
    opacity: 1;
  }
}

@keyframes slideFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.coins {
  position: absolute;
  top: 15%;
  width: 460px;
  height: 100%;
}

.coin--t-l {
  position: absolute;
  left: 10%;
  top: 10%;
  z-index: 2;
  animation: slideFromLeft 0.6s ease-out forwards;
}

.coin--t-r {
  position: absolute;
  right: 13%;
  top: -3%;
  z-index: 3;
  animation: slideFromRight 0.8s ease-out forwards;
}

.coin--b-r {
  position: absolute;
  right: 14%;
  bottom: 26%;
  z-index: 3;
  animation: slideFromRight 0.5s ease-out forwards;
}

.coin--b-l {
  position: absolute;
  z-index: 1;
  bottom: 25%;
  left: 26%;
  animation: slideFromLeft 1s ease-out forwards;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(58, 58, 58, 0.1);
  backdrop-filter: blur(41px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 0 15px;
  box-sizing: border-box;
}

.modal.hidden {
  display: none;
}

.modal__content {
  display: flex;
  padding: 20px 30px 15px 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 340px;
  width: 100%;
  border-radius: 25px;
  background: #f9f9f9;
  box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.25) inset,
    85px 110px 39px 0px rgba(0, 0, 0, 0), 54px 70px 36px 0px rgba(0, 0, 0, 0.01),
    31px 40px 30px 0px rgba(0, 0, 0, 0.05),
    14px 18px 22px 0px rgba(0, 0, 0, 0.09), 3px 4px 12px 0px rgba(0, 0, 0, 0.1);
}

.modal__question {
  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-family: "Fixel Display";
  font-size: 22px;
  font-weight: 500;
  line-height: 120%;
}

.modal__question.second {
  font-size: 28px;
  margin-top: 0;
}

.modal__accent {
  text-align: center;
  font-family: "Fixel Display";
  font-size: 36px;
  font-weight: 900;
  line-height: 33px;
  background: var(--1, linear-gradient(97deg, #a2b3de 0%, #3c63c2 100%));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.modal__actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.modal__button--first,
.modal__button--second {
  border-radius: 10px;
  background: var(--3, linear-gradient(98deg, #1a4bc7 0%, #00609b 100%));
  display: flex;
  width: 100%;
  max-width: 130px;
  padding: 13px 20px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Fixel Display";
  font-size: 18px;
  font-weight: 500;
  line-height: 100%;
}

.modal__button--no {
  background: #515151;
}

.modal.form {
  flex-direction: column;
  background: radial-gradient(
    100% 80% at 50% 1%,
    rgba(0, 0, 0, 0) 0%,
    #000 40%,
    #205af0 65%,
    #1a77f1 90%,
    #1398f2 100%
  );
  background-color: #000;
  background-repeat: no-repeat;
  padding: 0 0 30px 0;
  justify-content: flex-start;
  overflow: auto;
}

.form__subheading {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  margin-top: 15px;
}

.modal__content.form {
  border-radius: 25px;
  padding: 25px 20px;
  border: 1px solid #ffffff5c;
  background: linear-gradient(
    101deg,
    rgb(217 217 217 / 10%) 0%,
    rgba(217, 217, 217, 0.05) 100%
  );
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  margin-top: 25px;
}

.form-heading {
  color: #fff;
  text-align: center;
  font-family: "Fixel Display";
  font-size: 22px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: 20px;
  margin: 0 auto 20px auto;
}

.input-label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: #efefef;
  font-family: "Fixel Display";
  font-size: 13.5px;
}

.form-input {
  border-radius: 13px;
  background: #dbdbdb;
  display: flex;
  padding: 15px 17px;
  align-items: center;
  height: auto;
  font-family: "Fixel Display";
  font-size: 15px;
}

.form-group:last-child {
  margin-bottom: 0;
}

.form-input::placeholder {
  color: #676767;
  font-family: "Fixel Display";
  font-size: 15px;
}

.form-checkbox {
  width: 16px;
  height: 16px;
}

.checkbox-text {
  color: #fff;
  font-family: "Fixel Display";
  font-size: 13px;
  line-height: 17px;
  margin-left: 17px;
}

.checkbox-text > .input-accent {
  background: var(--2, linear-gradient(98deg, #f99c1c 0%, #f8d631 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration-color: #f99c1c;
  text-decoration-line: underline;
}

@media (max-width: 375px) {
  .main__heading {
    margin-top: 27px;
  }
  .main__coin {
    width: 360px;
    height: 360px;
  }
  .main__bottom {
    margin: 20px 15px 0 15px;
  }
  .coins {
    width: 350px;
    height: 99%;
  }
  .coins > img {
    width: 26%;
  }
  .coin--t-l {
    left: 4%;
    top: 7%;
  }

  .coin--t-r {
    right: 15%;
    top: -3%;
  }

  .coin--b-r {
    right: 7%;
    bottom: 25%;
  }

  .coin--b-l {
    bottom: 23%;
    left: 22%;
  }
}
