@font-face {
  font-family: "TT Firs Neue";
  src: url("./fonts/TT-Firs-Neue-Trial-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("./fonts/TT-Firs-Neue-Trial-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Firs Neue";
  src: url("./fonts/TT-Firs-Neue-Trial-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Tinkoff Sans";
  src: url("./fonts/TinkoffSans-Regular.woff") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Tinkoff Sans";
  src: url("./fonts/TinkoffSans-Medium.woff") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Tinkoff Sans";
  src: url("./fonts/TinkoffSans-Bold.woff") format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background-image: url(./img/bg_mobile.png);
  background-color: #d3d3d347;
  background-repeat: repeat;
  background-position: center top;
  background-attachment: fixed;
}
p {
  margin: 0;
}

.header {
  width: 100%;
  min-width: 320px;
  height: 70px;
  border-bottom: 1px solid #a4a39e;
  background: #fff;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  z-index: 10;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.header-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading-title-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.heading-title {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  margin-left: 8px;
}

.heading-title-name {
  color: #555;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.heading-subtitle {
  color: #898989;
  font-family: Roboto;
  font-size: 12px;
  letter-spacing: -0.024px;
  align-self: flex-start;
}
.header--right {
  margin-left: 3px;
}

/* 
.footer {
  width: 100%;
  min-width: 320px;
  height: 55px;
  background-color: #fff;
  padding: 12px 13px;
  display: flex;
  align-items: center;
  bottom: 0;
  position: fixed;
  box-sizing: border-box;
}

.footer-menu {
  display: flex;
  padding: 5px 8px;
  align-items: center;
  gap: 4px;
  border-radius: 100px;
  height: 30px;
  box-sizing: border-box;
  background: #ffdd2d;
}

.footer-menu-text {
  color: #333;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 8px;
}

.footer-input {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer-input-placeholder {
  color: #a3acb3;
  font-family: Inter;
  line-height: 19px;
}

.footer-send {
  display: flex;
  width: 48px;
  height: 30px;
  box-sizing: border-box;
  padding: 5px 8px 5px 14px;

  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #ffdd2d;
} */

.main {
  display: flex;
  flex-direction: column;
  margin: 80px auto 70px auto;
}

.messages-date {
  margin: 0 auto 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-sizing: border-box;
  padding: 5px 10px;
  width: 70px;
  height: 23px;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0.066px;
  color: #333;

  border-radius: 6px;
  background: #dbdfeb;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.main-messages {
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
}

.message-field {
  display: flex;
  align-items: flex-end;
  gap: 5px;
}

.message-field:first-child {
  margin-top: 15px;
}

.message-avatar {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 350ms, transform 350ms;
  position: relative;
  left: 1.4%;
}

.message {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 350ms, transform 350ms;
  padding: 8px 15px;
  max-width: 300px;
  width: auto;
  height: auto;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 6px;
  background: #f9f9f9;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
}
/* 
.message-sender {
  color: #f1c800;
  font-size: 14px;
  font-weight: 700;
} */

.accent {
  color: #ffdd2d;
}

/* .message-field:nth-child(4) .message-text {
  font-weight: 700;
} */
/* 
.message-field:nth-child(6) .message-text {
  font-weight: 700;
} */
/* 
.message-field:nth-child(9) .message-text {
  max-width: 240px;
} */

.message.visible {
  opacity: 1;
  transform: translateY(0);
}
.message-avatar.visible {
  opacity: 1;
  transform: translateY(0);
}

.message-text {
  color: #000;
  font-size: 14px;
  margin: 0;
  font-weight: 400;
}

.time {
  color: rgba(0, 0, 0, 0.15);
  text-align: right;
  font-family: Roboto;
  font-size: 12px;
}

.time.answ {
  color: #8e8e93;
  font-size: 10px;
  line-height: 10px;
  padding-left: 10px;
  padding-right: 3px;
}

.typing {
  display: flex;
  gap: 5px;
}

.typing span {
  width: 8px;
  height: 8px;
  background: #ccc;
  border-radius: 50%;
  display: inline-block;
  animation: blink 1.4s infinite;
}

.typing span:nth-child(2) {
  animation-delay: 0.2s;
}

.typing span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.answers {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 350ms, transform 350ms;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 15px;
  max-width: 300px;
}

.answers:nth-child(2) {
  flex-direction: column;
}

.answers.visible {
  opacity: 1;
  transform: translateY(0);
}

.button {
  display: flex;
  padding: 15px 25px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 6px;
  background: #428d3a;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  width: 100%;
}

.answer {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 350ms, transform 350ms;
  border-radius: 6px;
  background: #dcf8c7;
  box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.1);
  color: #fffcfb;
  color: #555;
  font-family: Roboto;
  font-size: 14px;
  line-height: 16.8px;
  padding: 8px;
  margin-top: 15px;
  margin-left: 15px;
  width: auto;
  height: auto;
  box-sizing: border-box;
  position: relative;
  align-items: flex-end;
  display: flex;
  justify-content: center;
  align-self: flex-end;
}

.answer.visible {
  opacity: 1;
  transform: translateY(0);
}

.answer-tail {
  position: absolute;
  bottom: 0;
  right: -7px;
}

#emoji {
  margin-right: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-wrapper {
  display: none;
  justify-content: center;
  gap: 5px;
  align-items: flex-end;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
}

.visible {
  display: flex;
}

.form-container {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 350ms, transform 350ms;
  display: flex;
  max-width: 340px;
  width: 100%;
  box-sizing: border-box;
  padding: 20px 25px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: #fff;
  align-self: center;
  box-shadow: 0px 4px 5.3px 1px rgba(0, 0, 0, 0.25);
}

.form-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.form-heading {
  color: #555;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin: 15px 0;
  max-width: 180px;
}

.form-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-field {
  width: 100%;
}

.form-field-last {
  margin-bottom: 20px !important;
}

/* .form-field label {
  display: block;
  margin-bottom: 5px;
} */

.form-input {
  width: 100%;
  display: flex;
  height: 44px;
  padding: 12.8px;
  border-radius: 8px;
  border: 1px solid #c1c1c1;
  background: #fff;
  font-size: 16px;
  font-weight: 500;
}

.form-input::placeholder {
  color: #555;
  font-size: 16px;
}

.input-label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  color: #504137;
  font-family: "IBM Plex Sans";
  font-size: 14px;
}

.buttonFormSend {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 5px;
  background: #428d3a;
  border: none;
}

.buttonFormText {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}

.form-group:last-child {
  margin-bottom: 0;
  margin-top: 15px;
}

.messages__start {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.messages__button {
  border-radius: 6px;
  background: #428d3a;
  border: none;
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.hidden {
  display: none;
}

@media (min-width: 769px) {
  .header {
    height: 90px;
  }
  .main {
    margin: 100px auto 80px auto;
    max-width: 400px;
  }
  .messages-date {
    height: 33px;
    width: 80px;
    font-size: 13px;
  }
  .message {
    max-width: 350px;
    padding: 10px 20px;
  }
  .answers {
    max-width: 350px;
  }
  .heading-title-name {
    font-size: 22px;
  }
  .heading-subtitle {
    font-size: 14px;
  }
  #logo {
    width: 45px;
  }
  .form-container {
    max-width: 350px;
  }
  .form-field input {
    max-width: 310px;
  }
  .buttonFormSend {
    max-width: 310px;
  }
  .footer {
    height: 70px;
  }
  .footer-menu {
    height: 35px;
  }
  .footer-menu-text {
    font-size: 15px;
  }
  .footer-input-placeholder {
    font-size: 15px;
  }
  .visible {
    justify-content: center;
  }
}

@media (max-width: 325px) {
  .buttonFormText {
    font-size: 13px;
    line-height: 15px;
  }
}
