body {
  margin: 0;
  background: #1c1c1d;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2,
h3,
p {
  margin: 0;
}

p,
span {
  font-family: Exo, sans-serif;
}

button {
  cursor: pointer;
  transition: background 250ms;
}

section {
  max-width: 1440px;
  width: 100%;
  box-sizing: border-box;
}

.modal-button:hover {
  background: #5e2b72;
}

.section__hero {
  background-image: url(../img/bg_hero.png);
  padding: 150px 15px 70px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__pre-heading {
  color: #ffffed;
  text-align: center;
  font-family: "Russo One";
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
}
.hero__heading {
  text-align: center;
  -webkit-text-stroke-width: 3px;
  color: transparent;
  -webkit-text-stroke-color: #32cd32;
  font-family: "Russo One";
  font-size: 124px;
  font-style: normal;
  font-weight: 400;
  line-height: 149px;
  letter-spacing: 7.44px;
  text-transform: uppercase;
}

.hero__text {
  position: relative;
  margin: 35px 0 50px 0;
  max-width: 460px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.hero__text > img {
  position: absolute;
  bottom: -110px;
  left: -10px;
  z-index: 10;
}

.hero__img-dots {
  display: none;
}

.hero__text-descr {
  color: #7e7e7e;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px; /* 120% */
  max-width: 380px;
  right: -150px;
  position: relative;
}

.hero__text-descr > .accent {
  color: #fff;
  font-size: 24px;
}

.hero__content {
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.hero__content--left {
  text-align: right;
  max-width: 225px;
  width: 100%;
  display: flex;
}

.hero__content--left > span {
  width: 100%;
}

.hero__content--right {
  text-align: left;
  max-width: 240px;
  width: 100%;
  display: flex;
}

.hero__content--right > span {
  width: 100%;
}

.hero__content-button {
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    #9456ae 35.94%,
    #7d3c98 82.81%,
    #7d3c98 100%
  );
  padding: 30px 110px;
  max-width: 460px;
  width: 100%;
  color: #fff;
  font-family: Exo, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 6.4px;
  text-transform: uppercase;
  border: none;
  z-index: 10;
}

.hero__content--left > span,
.hero__content--right > span {
  color: #7e7e7e;
  text-shadow: 0px 0px 1px #1c1c1d;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
}

.hero__content--right > span > .accent {
  color: #ffffed;
}

.section__trading {
  background-image: url(../img/bg_trading.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  padding: 30px 15px;
}

.trading__content {
  max-width: 705px;
  width: 100%;
  position: relative;
}

.trading__img--secondary {
  position: absolute;
  top: 0;
  right: 0;
}

.trading__text {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 20px;
}

.trading__text--top {
  color: #7e7e7e;
  font-size: 32px;
  font-style: normal;
  font-weight: 300;
  line-height: 38px;
}

.trading__text--top > .active {
  color: #ffffed;
}

.trading__text--top > .accent {
  color: #32cd32;
  font-weight: 600;
}

.trading__text--bottom {
  color: #7e7e7e;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}

.trading__text--bottom > .active {
  color: #fff;
}

.section__for-who {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}
.for-who__heading {
  color: #ffffed;
  text-align: center;
  font-family: "Russo One";
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
}

.for-who__heading > .accent {
  color: #32cd32;
  font-family: "Russo One";
}

.for-who__text {
  color: #7e7e7e;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  margin-top: 16px;
}

.for-who__text > .accent {
  color: #ffffed;
}

#for-who-slider {
  display: none;
}

.for-who__items {
  background-image: url(../img/bg_for-who.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: 80px;
  background-position-y: top;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.for-who__item {
  max-width: 360px;
  width: 100%;
  height: 133px;
  display: flex;
  gap: 27px;
  align-items: center;
}

.for-who__item--top {
  align-self: flex-start;
}

.for-who__item > span {
  color: #7e7e7e;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  max-width: 200px;
  width: 100%;
}

.for-who__item > span > .accent {
  color: #ffffed;
}

.for-who__items--center {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 170px;
}

.for-who__items--bottom {
  max-width: 1020px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.section__start {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/bg_start.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  padding: 150px 15px 160px 15px;
}

.start__pre-heading {
  color: #7e7e7e;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}

.start__heading {
  color: #ffffed;
  text-align: center;
  font-family: "Russo One";
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
  margin-top: 16px;
}

.start__heading > .accent {
  color: #32cd32;
  font-family: "Russo One";
}

.start__button {
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    #9456ae 35.94%,
    #7d3c98 82.81%,
    #7d3c98 100%
  );
  padding: 30px 60px;
  margin-top: 40px;
  max-width: 460px;
  width: 100%;
  color: #fff;
  font-family: Exo, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  letter-spacing: 6.4px;
  text-transform: uppercase;
  border: none;
}

.section__benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/bg_benefits.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top left;
  padding: 0 15px 65px 15px;
}

#benefits-slider {
  margin-top: 15px;
}

.benefits__pre-heading {
  color: #7e7e7e;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}

.benefits__heading {
  color: #ffffed;
  text-align: center;
  font-family: "Russo One";
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
  margin-top: 16px;
}

.benefits__heading > .accent {
  color: #32cd32;
}

.benefits__items {
  margin-top: 16px;
  display: flex;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

.benefits__pros {
  border-radius: 10px;
  background: radial-gradient(
    117.39% 110.12% at 2.28% 4.02%,
    #3c4141 0%,
    #2f3333 100%
  );
  max-width: 460px;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

.pros__heading {
  color: #ffffed;
  text-align: center;
  font-family: Exo, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.pros__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 16px;
}

.pros__item:first-child {
  margin-top: 0;
}

.item__content {
  color: #ffffed;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  display: flex;
  align-items: center;
}
.item__content.cons {
  height: 41px;
  gap: 15px;
  color: #a7a89d;
}

.item__descr {
  color: #7e7e7e;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
}

.item__descr.cons > .accent {
  color: #ffffed;
}

.benefits__cons {
  border-radius: 10px;
  background: radial-gradient(
    114.66% 102.2% at 93.37% 10.61%,
    #212525 0%,
    #212121 100%
  );
  max-width: 460px;
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
}

.cons__item {
  margin-top: 16px;
}

.cons__heading {
  color: #a7a89d;
  text-align: center;
  font-family: Exo, sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-transform: uppercase;
}

.section__after {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/bg_after.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  padding: 240px 15px 80px 15px;
}

.after__heading {
  color: #ffffed;
  text-align: center;
  font-family: "Russo One";
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
}

.after__heading > .accent {
  color: #32cd32;
  font-family: "Russo One";
}

#after-slider {
  display: none;
}

.after__items--top {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  width: 100%;
}

.after__item {
  max-width: 340px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #ffffed;
  box-shadow: 0px 0px 32px 0px #1c1c1d;
  align-items: center;
  color: #1c1c1d;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  box-sizing: border-box;
}

.after__item--top.left {
  border-radius: 20px 20px 40px 20px;
  padding: 0 47px 24px 47px;
}

.after__item--top.right {
  border-radius: 20px 20px 20px 40px;
  padding: 0px 37px 26px 37px;
}

.after__item-arrow {
  position: relative;
  top: -15px;
}

.after__items--center {
  max-width: 1420px;
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.after__item--center.left {
  border-radius: 20px 20px 80px 20px;
  padding: 0 18px 40px 18px;
}

.after__item--center.right {
  border-radius: 20px 20px 20px 80px;
  padding: 0 15px 20px 15px;
}

.after__items--bottom {
  margin-top: 140px;
}

.after__item--bottom {
  background: linear-gradient(
    90deg,
    #9456ae 35.94%,
    #7d3c98 82.81%,
    #7d3c98 100%
  );
  box-shadow: 0px 0px 32px 0px #1c1c1d;
  border-radius: 20px;
  max-width: 340px;
  width: 100%;
  padding: 0 42px 26px 42px;
  color: #ffffed;
  font-size: 24px;
  text-align: center;
  font-weight: 300;
  line-height: 29px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.section__why-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/bg_why-us.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  padding: 130px 15px 160px 15px;
}

.why-us__heading {
  color: #ffffed;
  text-align: center;
  font-family: "Russo One";
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
}

#why-us-slider {
  width: 100%;
}

.why-us__heading > .accent {
  color: #32cd32;
  font-family: "Russo One";
}

.why-us__items {
  display: flex;
  margin-top: 80px;
  width: 100%;
  justify-content: space-around;
}

.why-us__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 325px;
  justify-content: flex-end;
}

.why-us__item-text {
  color: #7e7e7e;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  line-height: 19px;
  max-width: 330px;
  width: 100%;
}

.why-us__item-heading {
  color: #ffffed;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  margin-top: 20px;
}

.why-us__item-text {
  margin-top: 8px;
}

.section__timer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-image: url(../img/bg_timer.png);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  padding: 180px 15px 180px 15px;
}

.timer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 560px;
  width: 100%;
}

.timer__text {
  color: #ffffed;
  text-align: center;
  font-family: "Russo One";
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  text-transform: uppercase;
}

.timer__text > .accent {
  color: #32cd32;
  font-family: "Russo One";
}

.timer__container {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  margin-top: 15px;
}

.timer-part {
  font-size: 64px;
  font-weight: 600;
  color: #000;
  width: 100px;
  height: 80px;
  line-height: 77px;
  border-radius: 10px;
  background: #32cd32;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.colon {
  color: #32cd32;
  font-size: 64px;
  font-weight: 600;
  line-height: 77px;
}

.timer__content {
  display: flex;
  align-items: flex-end;
}

.timer__descr {
  display: flex;
  flex-direction: column;
}

.timer__descr-heading {
  color: #ffffed;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
}

.timer__descr-text {
  color: #7e7e7e;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  margin-top: 15px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  border-radius: 15px;
  max-width: 700px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 40px 60px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-heading {
  color: #393939;
  text-align: center;
  font-family: Exo, sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 20px;
}

.form__input {
  margin-top: 8px !important;
  border-radius: 12px;
  background: #e7e7e7;
  border: none;
}

.form__input::placeholder {
  color: #b7b7b7;
  font-family: Exo, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
}

.iti--separate-dial-code {
  margin-top: 8px;
}

.form-group:last-child {
  margin-bottom: 0;
}

.checkbox-accent {
  background: var(
    --1,
    linear-gradient(90deg, #9456ae 35.94%, #7d3c98 82.81%, #7d3c98 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
  text-decoration-color: #7d3c98;
}

@media (max-width: 1160px) {
  .hero__heading {
    font-size: 100px;
  }
}

@media (max-width: 1024px) {
  .section__hero {
    padding: 90px 15px 40px 15px;
    background-image: url(../img/mobile/bg_hero_mob.png);
  }

  .hero__pre-heading {
    font-size: 14px;
  }
  .hero__heading {
    font-size: 33px;
    line-height: 40px;
    letter-spacing: 2px;
    -webkit-text-stroke-width: 1px;
  }
  .hero__text {
    justify-content: flex-start;
  }

  .hero__text > img {
    left: auto;
    right: -10px;
    content: url(../img/mobile/hand_hero_mob.png);
    bottom: -50px;
  }

  .hero__img-dots {
    display: block;
    margin-bottom: 12px;
  }

  .hero__text-descr {
    right: auto;
    font-size: 14px;
    max-width: 225px;
    line-height: 17px;
  }

  .hero__text-descr > .accent {
    font-size: 14px;
  }

  .hero__content {
    flex-direction: column;
    gap: 10px;
  }
  .hero__content--left,
  .hero__content--right {
    max-width: none;
    width: auto;
  }

  .hero__content--left > span,
  .hero__content--right > span {
    font-size: 12px;
    line-height: 14px;
  }

  .hero__content-button {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 5.6px;
    padding: 20px 66px;
  }

  .section__trading {
    flex-direction: column-reverse;
    background-image: url(../img/mobile/bg_trading_mob.png);
    height: 580px;
    justify-content: center;
  }
  .trading__text {
    padding-top: 40px;
  }

  .trading__text--top {
    font-size: 24px;
    line-height: 29px;
  }

  .trading__text--bottom {
    font-size: 16px;
    line-height: 19px;
  }

  .trading__img {
    content: url(../img/mobile/trading_main_mob.png);
  }

  .trading__img--secondary {
    content: url(../img/mobile/trading_img_mob.png);
  }

  .section__for-who {
    padding: 65px 15px 0 15px;
    background-image: url(../img/mobile/bg_for-who_mob.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
  }

  .for-who__heading {
    font-size: 24px;
    line-height: 29px;
  }

  .for-who__text {
    margin-top: 8px;
    font-size: 16px;
    line-height: 19px;
  }

  .for-who__items {
    display: none;
  }

  #for-who-slider {
    max-width: 900px;
    width: 100%;
    margin: auto;
    display: flex;
  }

  .for-who__item {
    padding: 20px;
    text-align: center;
    text-align: center;
    flex-direction: column;
    height: auto;
    max-width: 345px;
    gap: 0;
  }

  .section__start {
    background-image: url(../img/mobile/bg_start_mob.png);
    padding: 10px 15px 85px 15px;
  }

  .start__pre-heading {
    font-size: 16px;
    line-height: 19px;
  }

  .start__heading {
    font-size: 24px;
    line-height: 29px;
  }

  .start__button {
    font-size: 16px;
    padding: 20px 15px;
    line-height: 17px;
    letter-spacing: 5.6px;
    margin-top: 50px;
  }

  .section__benefits {
    padding: 0 15px;
  }

  .benefits__pre-heading {
    font-size: 16px;
    line-height: 19px;
  }

  .benefits__heading {
    font-size: 24px;
    line-height: 29px;
  }

  .benefits__items {
    justify-content: space-between;
    gap: 10px;
  }

  .benefits__cons,
  .benefits__pros {
    max-width: 343px;
    padding: 16px;
  }

  .pros__heading,
  .cons__heading {
    font-size: 24px;
    margin-bottom: 0;
  }

  .item__content {
    font-size: 16px;
  }

  .item__descr {
    font-size: 14px;
  }

  .section__after {
    padding: 100px 15px 80px 15px;
    background-image: url(../img/mobile/bg_after_mob.png);
  }

  #after-slider {
    max-width: 360px;
    width: 100%;
    margin-top: 45px;
    display: flex;
  }

  #after-slider > .splide__arrows > .splide__arrow {
    transform: translateY(100%);
  }

  #after-slider > .splide__arrows > .splide__arrow--next {
    right: 7em;
  }

  #after-slider > .splide__arrows > .splide__arrow--prev {
    left: 7em;
  }

  #after-slider-track {
    /* overflow: visible; */
  }

  .after__item-slide {
    padding: 10px 50px 16px 50px;
    border-radius: 10px;
    background: #ffffed;
    box-shadow: 0px 0px 32px 0px #1c1c1d;
    gap: 4px;
  }

  .after__item-slide > .after__item-arrow {
    top: 0;
  }

  .after__item--top,
  .after__items--center {
    display: none;
  }

  .after__item-arrow {
    width: 32px;
    height: 32px;
  }

  .after__items--bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 250px;
  }

  .after__item--bottom {
    padding: 0 8px 18px 8px;
  }

  .after__item > span,
  .after__item--bottom > span {
    font-size: 16px;
    line-height: 19px;
  }

  .after__heading {
    font-size: 24px;
    line-height: 29px;
  }

  .section__why-us {
    padding: 100px 15px 70px 15px;
  }

  .why-us__item {
    height: auto;
  }

  .why-us__item > img {
    max-width: 120px;
  }

  .why-us__heading {
    font-size: 24px;
    line-height: 29px;
  }

  #why-us-slider > .splide__arrows > .splide__arrow {
    transform: translateY(100%);
  }

  #why-us-slider > .splide__arrows > .splide__arrow--next {
    right: 7em;
  }

  #why-us-slider > .splide__arrows > .splide__arrow--prev {
    left: 7em;
  }

  .section__timer {
    align-items: center;
    padding: 80px 15px 450px 15px;
    background-image: url(../img/mobile/bg_timer_mob.png);
  }

  .timer__text {
    font-size: 24px;
    line-height: 29px;
    max-width: 300px;
  }

  .timer__content {
    align-items: center;
    flex-direction: column;
  }

  .timer__descr {
    align-items: center;
    text-align: center;
  }

  .timer__descr-heading {
    font-size: 24px;
    line-height: 29px;
  }

  .timer__descr-text {
    font-size: 16px;
    line-height: 19px;
  }

  .splide__track.why-us {
    max-width: 360px;
  }

  .splide__track.benefits {
    max-width: 360px;
  }

  .splide__arrow {
    bottom: -25%;
    top: auto !important;
    background: transparent !important;
  }

  .splide__arrow > svg {
    fill: #fff !important;
  }
  #why-us-slider {
    width: auto;
  }
  .modal-content {
    padding: 20px;
    margin: 0 15px;
    max-width: 330px;
  }
  .form-heading {
    font-size: 24px;
  }
  .form-group > label {
    font-size: 14px;
  }
}
