@font-face {
  font-family: "Fixel Display";
  src: url("../fonts/FixelDisplay-Regular.otf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Fixel Display";
  src: url("../fonts/FixelDisplay-SemiBold.otf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: "Fixel Display";
  src: url("../fonts/FixelDisplay-Bold.otf") format("truetype");
  font-weight: 700;
}
h1,
h2,
h3,
p {
  margin: 0;
}
body {
  margin: 0;
  background-color: #0b0b0b;
  background-image: url(../img/background.svg);
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  overflow: hidden;
}
.screen {
  display: none;
}
.screen.active {
  display: block;
}
.header {
  display: none;
}
.header.active {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff6711;
  box-sizing: border-box;
  gap: 8px;
  z-index: 1;
}

.header__text {
  display: flex;
  flex-direction: column;
  color: #fff;
  text-align: left;
  font-family: "Fixel Display";
  font-size: 17px;
  font-weight: 800;
  line-height: 120%;
  text-transform: uppercase;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 0 12px;
}

.main-entry {
  border-radius: 20px;
  border: 1px solid #ff6711;
  background: #1b1b1b;
  display: flex;
  padding: 30px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 330px;
  box-sizing: border-box;
  z-index: 1;
}

.main-entry__heading {
  color: #ff6711;
  text-align: center;
  font-family: "Fixel Display";
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

.main-entry__descr {
  color: #fff;
  text-align: center;
  font-family: "Fixel Display";
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}

.main-entry__button {
  border-radius: 25px;
  border: none;
  background: #ff6711;
  display: flex;
  max-width: 290px;
  width: 100%;
  padding: 18px 20px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Fixel Display";
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
}

.footer {
  display: none;
}

.footer.active {
  display: flex;
  background: #1b1b1b;
  padding: 20px 10px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 100%;
  box-sizing: border-box;
}

.footer__text {
  color: #959595;
  text-align: center;
  font-family: "Fixel Display";
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
}

/*//////////// SECOND SCREEN /////////////*/

.screen.second.active {
  padding-top: 30px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.screen__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;
}

.screen__profit,
.screen__time {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.screen__profit-label,
.screen__time-label {
  color: #ff6711;
  font-family: "Fixel Display";
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
}

.screen__profit-value {
  color: #fff;
  font-family: "Fixel Display";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 46.8px */
}

.screen__time-value {
  color: #fff;
  font-family: "Fixel Display";
  font-size: 24px;
  font-weight: 700;
  line-height: 80%;
  padding: 10px;
  border-radius: 20px;
  background: rgba(43, 43, 43, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.screen__bot-control {
  margin-bottom: 25px;
}

.screen__bot-button {
  border-radius: 20px;
  border: none;
  width: 100%;
  background: #02c173;
  padding: 13px 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Fixel Display";
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
}

.screen__bot-button.active {
  background: #e11a38;
}

.screen__bot-button.disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.screen__tabs {
  display: flex;
  justify-content: center;
}

.screen__tab {
  border-radius: 10px 10px 0px 0px;
  border-top: 1px solid #ff6711;
  border-right: 1px solid #ff6711;
  border-left: 1px solid #ff6711;
  border-bottom: none;
  background: rgba(43, 43, 43, 0.5);
  display: flex;
  padding: 5px 10px;
  align-items: flex-start;
  color: #fff;
  font-family: "Fixel Display";
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
}

.screen__tab--active {
  background-color: #ff6711;
}

.screen__chart-placeholder {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 430px;
  border: 1px solid #ff6711;

  border-radius: 10px;
}

.screen__chart {
  width: 100%;
  max-width: 600px;
  height: 430px;
}

/*//////////// THIRD SCREEN /////////////*/

#screen-3 {
  width: 100%;
  height: 90%;
  background-color: black;
  background-image: url(../img/background-3.svg);
  background-position: top;
  background-repeat: no-repeat;
  position: absolute;
}

/*//////////// QUESTIONS /////////////*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 0 15px;
  box-sizing: border-box;
}

.modal.hidden {
  display: none;
}

.modal__content {
  border-radius: 20px;
  border: 1px solid #ff6711;
  background: #1b1b1b;
  display: flex;
  padding: 30px 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modal__question {
  color: #fff;
  text-align: center;
  font-family: "Fixel Display";
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
}

.modal__actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.modal__button--first,
.modal__button--second {
  border-radius: 20px;
  border: 1px solid #ff6711;
  background-color: rgba(43, 43, 43, 0.5);
  display: flex;
  max-width: 120px;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Fixel Display";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.modal__button--second:active {
  background-color: #ff6711;
}

.modal__button--yes {
  background-color: #02c173;
}

.modal__button--no {
  background-color: #d50000;
}
