* {
  font-family: "Montserrat";
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: Montserrat;
}
h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
}

img {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  height: 50px;
}

.header__logo {
  width: 125px;
}

.main {
  display: flex;
  flex-direction: column;
}

.hero {
  background: #020612;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px 0 20px;
  max-width: 430px;
  margin: 0 auto;
}

.hero__heading {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
}

.hero__text {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.hero__text.accent {
  background: rgba(38, 169, 224, 0.2);
}

.hero__button-wrapper {
  padding: 0 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__button {
  display: flex;
  box-sizing: border-box;
  height: 46px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background: #26a9e0;
  border-radius: 0;
  width: 100%;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 345px;
  width: 100%;
}

.fast {
  background: rgba(193, 193, 193, 0.2);
}

.fast__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px 0 20px;
}

.fast__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 430px;
  margin: 0 auto;
}

.fast__heading {
  color: #26a9e0;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
}

.fast__text {
  color: #212121;
  font-size: 16px;
  font-weight: 600;
}

.trading {
  padding: 40px 15px;
}

.trading__form {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
}

.trading__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 15px;
  background: #f3f3f3;
}

.trading__heading {
  color: #26a9e0;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
}

.trading__text {
  color: #212121;
  font-size: 16px;
  line-height: 140%;
}

.trading__image {
  max-width: 320px;
}

.footer {
  background: #003863;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}

.footer__top,
.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.footer__top-info,
.footer__bottom-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.footer__top-info > span,
.footer__bottom-info > span {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 120%;
}

.footer__top-contacts,
.footer__bottom-contacts,
.footer__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer__details > span {
  color: #fff;
  font-size: 12px;
  line-height: 120%;
}

.footer__top-contacts,
.footer__bottom-contacts {
  color: #42c1e9;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 120%;
}

.form-input {
  display: flex;
  padding: 15px;
  align-items: center;
  background: rgba(38, 169, 224, 0.2);
  border-radius: 0;
  font-size: 16px;
  font-family: Montserrat;
}

.form-input::placeholder {
  color: #7f7f7f;
  font-family: Montserrat;
  font-size: 16px;
}

.btnFormText {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Montserrat;
}

.form-checkbox {
  width: 25px;
  height: 25px;
}

.checkbox-wrap {
  width: 25px;
  height: 25px;
}

.checkbox-text {
  color: #212121;
  font-family: Montserrat;
  font-size: 16px;
  margin-left: 20px;
}

.form-group-button {
  margin: 35px 0px;
}

.contact-form {
  width: 100%;
}

@media (min-width: 1024px) {
  .section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header {
    height: 80px;
  }
  .header__logo {
    width: 200px;
  }
  .hero {
    background-image: url(../img/main.png);
    background-repeat: no-repeat;
    background-position: right bottom;
  }
  .hero__heading {
    font-size: 60px;
    max-width: 900px;
  }
  .hero__text {
    font-size: 20px;
  }
  .hero__text-wrapper {
    max-width: none;
    padding: 0;
  }
  .hero__image {
    display: none;
  }
  .hero__wrapper {
    align-items: flex-start;
    max-width: 1140px;
    width: 100%;
    gap: 40px;
    padding: 40px 20px;
  }
  .hero__text-wrapper {
    margin: 0;
    gap: 40px;
  }
  .hero__text.accent {
    max-width: 530px;
  }
  .hero__button-wrapper {
    padding: 0;
  }
  .fast {
  }
  .fast__image {
    display: none;
  }
  .fast__heading {
    font-size: 60px;
  }
  .fast__text-wrapper {
    max-width: 690px;
    margin: 0;
  }
  .fast__text {
    font-size: 20px;
  }
  .fast__wrapper {
    padding: 180px 20px 150px 20px;
    max-width: 1240px;
    width: 100%;
    align-items: flex-end;
    background-image: url(../img/second.png);
    background-repeat: no-repeat;
    background-position: left bottom;
  }
  .trading {
    padding: 40px;
    gap: 40px;
  }
  .trading__heading {
    font-size: 36px;
  }
  .trading__text {
    font-size: 20px;
  }
  .trading__form {
    margin: 0;
    max-width: 515px;
    padding-top: 0;
  }
  .trading__image {
    display: none;
  }
  .trading__content {
    max-width: 690px;
    width: 100%;
    padding: 40px;
    gap: 40px;
  }
  .footer {
    padding: 70px 200px 100px 200px;
    flex-direction: row;
    justify-content: flex-end;
    gap: 200px;
  }
  .form-input {
    height: 60px;
    font-size: 20px;
  }

  .form-input::placeholder {
    font-size: 20px;
  }
  .form-checkbox {
    height: 25px;
  }
  .checkbox-text {
    font-size: 18px;
  }
  .buttonSend {
    height: 60px;
  }
}

@media (max-width: 1220px) {
  .fast__wrapper {
    background-size: 45%;
  }
}

@media (max-width: 1120px) {
  .fast__wrapper {
    background-size: 40%;
  }
}
