body {
  margin: 0;
  font-family: Montserrat;
}
h1,
h2,
h3,
h4,
p,
span {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  border: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  height: 50px;
}

.header__logo {
  width: 125px;
}

.main {
  display: flex;
  flex-direction: column;
}

.hero {
  background: #020612;
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 20px 0 20px;
}

.hero__heading {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
}

.hero__text {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}

.hero__text.accent {
  background: rgba(38, 169, 224, 0.2);
}

.hero__button-wrapper {
  padding: 0 20px 20px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__button {
  display: flex;
  box-sizing: border-box;
  height: 46px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  background: #26a9e0;
  width: 100%;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 345px;
  width: 100%;
}

.fast {
  background: rgba(193, 193, 193, 0.2);
}

.fast__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px 0 20px;
}

.fast__text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fast__heading {
  color: #26a9e0;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
}

.fast__text {
  color: #212121;
  font-size: 16px;
  font-weight: 600;
}

.trading {
  padding: 40px 15px;
}

.trading__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 40px 15px;
  background: #f3f3f3;
}

.trading__heading {
  color: #26a9e0;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
}

.trading__text {
  color: #212121;
  font-size: 16px;
  line-height: 140%;
}

.footer {
  background: #003863;
  padding: 50px 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 60px;
}

.footer__top,
.footer__bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.footer__top-info,
.footer__bottom-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.footer__top-info > span,
.footer__bottom-info > span {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 120%;
}

.footer__top-contacts,
.footer__bottom-contacts,
.footer__details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.footer__details > span {
  color: #fff;
  font-size: 12px;
  line-height: 120%;
}

.footer__top-contacts,
.footer__bottom-contacts {
  color: #42c1e9;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 120%;
}
