@font-face {
  font-family: "DIN Pro";
  src: url(../fonts/dinpro.otf);
  font-weight: 400;
}
@font-face {
  font-family: "DIN Pro";
  src: url(../fonts/dinpro_medium.otf);
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "DIN Pro";
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.header {
  background-color: #13181e;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header__top {
  padding: 9px 16px;
}

.header__logo {
  height: 21px;
  width: 171px;
}

.header__search {
  display: flex;
  padding: 10px 12px;
  width: 100%;
}

.header__search-bar {
  align-items: center;
  background: #eceff2;
  border-radius: 24px;
  display: flex;
  width: 100%;
  height: 40px;
}

.header__search-btn {
  border-radius: 24px;
  height: 36px;
  margin: 2px 0 2px 2px;
  padding: 10px 18px;
  align-items: center;
  background: none;
  background-color: #0093c4;
  border: none;
  border-radius: 24px;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
}

.header__search-btn > span {
  font-weight: 500;
  margin-left: 8px;
}

.header__search-text {
  color: #878787;
  font-size: 16px;
  font-weight: 400;
  padding: 0 6px 0 0;
}

.header__search-icon {
  color: #0093c4;
}

.header__search-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 17px 0 12px;
  align-items: center;
}

.header__bottom {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 18px;
}

.header__bottom-city,
.header__bottom-sup {
  color: #fff;
}

.header__bottom-city {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
}

.main {
  background-color: #13181e;
  padding-bottom: 36px;
}

.section {
  padding: 0 24px;
}

#banner-slider {
  margin: 0 auto;
  padding: 17px 12px 36px;
  background-color: #0d1115;
}

.splide__slide > img {
  border-radius: 16px;
  height: auto;
  min-height: 130px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 0;
  object-position: 50% 0;
  width: 100%;
}

.main__circles {
  display: flex;
  width: 100%;
  height: auto;
  justify-content: left;
  padding: 24px 12px 0 12px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
}

.circle__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 94px !important;
}

.circle__img {
  align-items: center;
  border: 2px solid #31b7e3;
  border-radius: 50%;
  display: flex;
  height: 76px;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
  padding: 3px;
  transition: border-color 0.2s;
  width: 76px;
}

.circle__img > img {
  border-radius: 50%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.circle__text {
  word-wrap: break-word;
  color: #8b96a3;
  transition: color 0.2s;
  font-size: 14px;
  line-height: 17px;
}

.hits {
  margin-top: 42px;
  overflow: hidden;
  padding: 0 12px;
}

.hits__heading {
  margin-bottom: 18px;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.hits__items {
  display: flex;
}

.hits__hit {
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 100%;
  min-width: 277px;
  overflow: hidden;
  padding: 12px;
  width: 100%;
}

.hit__labels {
  display: flex;
  gap: 6px;
  align-items: center;
}

.label {
  border-radius: 14px;
  padding: 0 9px;
  font-size: 12px;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
  font-weight: 500;
}

.label-thanks {
  background: linear-gradient(
    98.09deg,
    #faed05 -1.23%,
    #0c9c0c 20.23%,
    #17b762 70.66%,
    #129dfa 101.62%
  );
}

.label-new {
  background: #02b513;
}

.label-gift {
  background: #ea4e01;
}

.label-benefit {
  background: #fd9600;
}

.label-tradein {
  background: #15afaa;
}

.label-halva {
  background: #000000;
}

.label.empty {
  height: 20px;
}

.hit__image {
  width: 100px;
  height: 100px;
}

.hit__status:before {
  border-radius: 50%;
  content: "";
  display: inline-block;
  margin-bottom: 2px;
  vertical-align: middle;
  background-color: #00bd0a;
  height: 6px;
  margin-right: 6px;
  width: 6px;
}

.hit__content {
  display: flex;
  gap: 12px;
  align-items: center;
}

.hit__content-wrap {
  display: flex;
  flex-direction: column;
  gap: 6px;
  max-width: 200px;
  width: 100%;
}

.hit__category {
  color: #8b96a3;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
}

.hit__status {
  color: #8b96a3;
  font-weight: 500;
  font-size: 12px;
}

.hit__name {
  color: #13181e;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  word-break: break-word;
}

.hit__info {
  border-top: 1px solid #d5d9de;
  display: flex;
  justify-content: space-between;
  padding-top: 12px;
}

.hit__price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
}

.price {
  align-items: baseline;
  color: #13181e;
  display: flex;
  font-size: 16px;
  font-weight: 500;
  justify-content: space-between;
  line-height: 21px;
  white-space: nowrap;
}

.price.line {
  color: #8b96a3;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  -webkit-text-decoration: line-through;
  text-decoration: line-through;
  white-space: nowrap;
}

.hit__actions {
  display: flex;
  gap: 12px;
  align-items: center;
}

.action-button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.action-button > svg {
  color: #8b96a3;
}

.action-button.shop {
  width: 36px;
  height: 36px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ea4e01;
  border-color: #ea4e01;
}

.action-button.shop > svg {
  color: #fff;
}

.splide__slide.hits__hit {
  width: 334px !important;
}

.splide__slide.banner-second {
  max-width: 707px;
}

.banners {
  margin-top: 42px;
}

.new {
  margin-top: 42px;
  overflow: hidden;
  padding: 0 12px;
}

.new__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 12px;
}

.categories {
  margin-top: 42px;
}

.categories__heading {
  color: #fff;
  margin-bottom: 18px;
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
}

.categories__items {
  display: grid;
  gap: 12px;
  grid-template-rows: auto auto;
  overflow-y: hidden;
  grid-template-columns: repeat(3, 1fr);
}

.category__item {
  align-items: center;
  flex-direction: column;
  padding: 12px 6px;
  display: flex;
  border-radius: 16px;
  background-color: #262e37;
  cursor: pointer;
  transition: background-color 0.2s;
  color: #fff;
}

.category__item > img {
  height: 52px;
  -o-object-fit: contain;
  object-fit: contain;
  width: 100%;
  padding: 4px 13px;
  width: 100%;
}

.category__item > span {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  padding: 16px 0 0;
  text-align: center;
  word-break: break-word;
}

.brands {
  margin-top: 42px;
}

.brands__head,
.feed__head,
.new__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.brands__heading,
.feed__heading,
.new__heading {
  color: #fff;
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
}

.all {
  font-size: 12px;
  line-height: 15px;
  color: #0093c4;
}

.brands__items {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
}

.brand__item {
  width: 150px;
  border: none;
  height: 84px;
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 16px;
}

.brand__item > img {
  width: 100%;
}

.feed {
  margin-top: 42px;
}

.feed__items {
  display: flex;
}

.feed__item {
  border-radius: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 210px;
}

.feed__item > img {
  border-radius: 16px;
  display: block;
  object-fit: cover;
  object-position: top center;
  width: 100%;
}

.feed__item-info {
  font-size: 18px;
  line-height: 21px;
  margin-top: 24px;
  color: #fff;
}

.footer {
  background-color: #000;
}

.footer__features-wrapper {
  margin: -24px auto 0;
  padding: 30px 24px;
  width: 100%;
  background-color: #191e24;
}

.footer__features {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}

.features__item {
  align-items: center;
  display: flex;
  transition: color 0.2s;
}

.features__item > svg {
  color: #0093c4;
  height: 24px;
  margin-right: 12px;
  width: 24px;
}

.features__item-text {
  color: #fff;
  font-size: 14px;
}

.footer__wrapper--top {
  margin: auto;
  padding: 0 18px;
  width: 100%;
}

.footer__links {
  align-items: center;
  background: #0d1115;
  border-radius: 16px;
  display: flex;
  height: 115px;
  justify-content: space-between;
  padding: 12px 20px 0 12px;
  margin-bottom: 36px;
  margin-top: 72px;
  gap: 10px;
}

.markets__link {
  max-width: 118px;
  width: 100%;
  align-items: center;
  border: 1px solid #353e48;
  border-radius: 12px;
  display: flex;
  height: 48px;
  justify-content: center;
}

.markets__link > svg {
  width: 100%;
}

.footer__links-phone {
  background-image: url(../img/phone.png);
  background-size: cover;
  height: calc(100% + 15px);
  margin-top: -15px;
  width: 116px;
}

.footer__links--right {
  align-items: center;
  display: none;
  gap: 24px;
}

.footer__links--right > img {
  width: 77px;
}

.links__text {
  display: flex;
  flex-direction: column;
}

.links__text > span {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  color: #fff;
}

.links__text > .bottom {
  font-weight: 400;
  margin-top: 6px;
  font-size: 14px;
  line-height: 17px;
}

.links__markets {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.footer__qr-text {
  color: #8b96a3;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  min-width: 130px;
}

.footer__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px 0;
}

.info__logo {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  height: auto;
  width: 143px;
}

.info__heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  margin: 0 0 12px;
  color: #fff;
}

.info__question {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.info__descr {
  color: #8b96a3;
  font-size: 16px;
  line-height: 21px;
  margin: 6px 0 0 0;
}

.footer__bottom {
  border-top: 1px solid #05c0ff;
  box-shadow: inset 0 51px 16px -41px rgba(105, 217, 255, 0.23);
  padding: 18px 0;
  background-color: #0d1115;
  padding-bottom: 100px;
}

.footer__bottom-wrapper {
  margin: auto;
  padding: 0 18px 36px 18px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer__contacts-wrap {
  display: flex;
  flex-direction: column;
}

.footer__contacts-heading {
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  color: #fff;
  margin: 0 0 12px;
}

.footer__contacts-address {
  font-size: 16px;
  line-height: 21px;
  color: #fff;
  margin-bottom: 6px;
}

.footer__contacts-phone {
  margin: 6px 0;
  color: #0093c4;
  font-weight: 500;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  transition: color 0.2s;
}

.footer__contacts-btn {
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  padding: 0 12px;
  margin-top: 12px;
  border-radius: 25px;
  background-color: #0093c4;
  border-color: transparent;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: "DIN Pro";
}

.footer__banner {
  background: url(../img/footer-banner.jpg) 100% / cover no-repeat;
  border-radius: 16px;
  display: block;
  padding: 18px;
  min-height: 125px;
  max-height: 280px;
  margin-top: 30px;
}

.footer__banner-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer__banner-text {
  color: #0093c4;
  font-size: 20px;
  line-height: 23px;
  font-weight: 500;
}

.footer__bottom-links {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.footer__bottom-company,
.footer__bottom-support {
  display: flex;
  flex-direction: column;
}

.company__heading {
  margin: 0 0 12px;
  padding-bottom: 6px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 500;
  color: #fff;
}

.company__heading.support {
  margin: 10px 0 12px 0;
}

.company__links {
  grid-gap: 12px;
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: 1fr;
  height: max-content;
}

.company__links.support {
  grid-auto-flow: unset;
  grid-auto-rows: max-content;
  grid-template-columns: 1fr;
}

.company__link {
  display: block;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.footer__socials {
  align-items: flex-end;
  display: flex;
  margin: 30px auto 0 auto;
  gap: 6px;
}

.socials__item {
  margin: calc(var(--tp-space-gap-y) / 2) calc(var(--tp-space-gap-x) / 2);
  align-items: center;
  background-color: #191e24;
  border-radius: 36px;
  color: #fff;
  display: flex;
  height: 48px;
  justify-content: center;
  transition: background-color 0.2s;
  width: 48px;
}

.footer__last {
  border-top: 1px solid #353e48;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 36px 18px 0 18px;
  width: 100%;
}

.footer__last-text {
  display: block;
  margin-bottom: 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.footer__last-input {
  background-color: #191e24;
  border: 1px solid #353e48;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
}

.last-input__text {
  color: #8b96a3;
  font-size: 16px;
  margin-left: 15px;
}

.last-input__btn {
  background-color: #102a37;
  color: #1c4859;
  pointer-events: none;
  border-radius: 25px;
  font-size: 14px;
  font-weight: 400;
  height: 36px;
  padding: 0 12px;
  border: none;
  margin-right: 10px;
}

.footer__last-rate {
  align-items: center;
  color: #8b96a3;
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  font-size: 12px;
  text-transform: uppercase;
}

.last-rate__image {
  margin-bottom: 18px;
}

.support-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 60px;
  height: 60px;
  background-color: #31b7e3;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
}

.support-btn > svg {
  color: #fff;
}

.support-btn.show {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.desktop {
  display: none;
}
.mobile {
  display: flex;
}
@media (max-width: 400px) {
  .brand__item {
    width: 150px;
  }
}

@media (min-width: 481px) {
  .footer__features {
    grid-template-columns: repeat(4, 1fr);
  }
  .features__item {
    flex-direction: column;
    margin: auto;
    text-align: center;
    width: fit-content;
  }
  .features__item > svg {
    margin-bottom: 6px;
    margin-right: 0;
  }
  .links__markets {
    margin-top: 24px;
  }
  .footer__banner {
    padding: 18px 18px 220px 18px;
  }
  .company__links.support {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 20px);
  }
}

@media (min-width: 768px) {
  .categories__items {
    grid-template-columns: repeat(6, 1fr);
  }
  .footer__links {
    border-radius: 24px;
    height: 157px;
    padding: 0 18px;
  }
  .footer__links--right {
    display: flex;
    margin-left: 10px;
  }
  .footer__banner {
    display: none;
  }
}

@media (min-width: 1024px) {
  .categories__items {
    grid-template-columns: repeat(6, 1fr);
  }
  .section {
    max-width: 1485px;
    margin-left: auto;
    margin-right: auto;
  }
  .feed__item {
    max-width: 280px;
  }
  .header__top {
    display: none;
  }
  .header__wrapper {
    flex-direction: column-reverse;
  }
  .desktop {
    display: flex;
  }
  .mobile {
    display: none;
  }
  .header {
    padding: 0 24px;
    background-color: #000;
  }
  .header__wrapper {
    max-width: 1480px;
  }
  .header__links {
    align-items: center;
  }
  .header__link {
    color: #8b96a3;
    font-size: 14px;
    line-height: 17px;
    margin-left: 16px;
  }
  .header__bottom-sup {
    display: flex;
    align-items: center;
    gap: 18px;
  }
  .header__bottom-sup > svg {
    display: none;
  }
  .header__lang {
    background-color: #102a37;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    line-height: 17px;
    padding: 6px 12px 7px;
  }
  .header__search {
    align-items: center;
  }
  .header__search-bar {
    margin-right: 36px;
    height: 50px;
  }
  .header__search-btn {
    height: 44px;
  }
  .header__search-logo {
    height: 100%;
    width: 100%;
    margin-right: 36px;
    max-width: 220px;
  }
  .header__search-items {
    gap: 9px;
  }
  .header__search-item {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    min-width: 45px;
    gap: 1px;
    justify-content: space-between;
    padding-top: 8px;
  }
  .header__search-item > svg {
    color: #8b96a3;
  }
  .header__search-item > span {
    color: #8b96a3;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
  }
  .header__services {
    height: 58px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
  .services__list {
    color: #fff;
    font-size: 16px;
    line-height: 21px;
    padding: 18.5px 0;
    position: relative;
  }
  .service__item {
    color: #fff;
    font-size: 16px;
    line-height: 21px;
    padding: 18.5px 0;
    position: relative;
    margin-left: 24px;
  }
  .services__button {
    align-items: center;
    background-color: transparent;
    border: 1.5px solid #1c4859;
    border-radius: 24px;
    color: #fff;
    display: flex;
    gap: 6px;
    padding: 6px 12px;
    font-family: "DIN Pro";
    height: 36px;
  }
  .services__button > svg {
    color: #0093c4;
  }
  #banner-slider {
    padding: 0;
    border-radius: 0;
  }
  #banner-slider-list > .splide__slide > img {
    height: 450px;
    border-radius: 0;
  }
  .circle__item {
    width: 120px !important;
  }
  .circle__img {
    border-width: 3px;
    height: 112px;
    margin-bottom: 10px;
    width: 112px;
  }
  .circle__text {
    font-size: 16px;
    line-height: 21px;
    font-weight: 500;
  }
  .hits__heading,
  .new__heading,
  .feed__heading,
  .categories__heading,
  .brands__heading {
    font-size: 29px;
    line-height: 35px;
  }
  .hits__hit {
    padding: 15px;
  }
  .all {
    font-size: 14px;
    line-height: 17px;
  }
  .category__item {
    padding: 12px;
  }
  .category__item > img {
    height: 124px;
  }
  .category__item > span {
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    padding: 12px 0;
    word-break: normal;
  }
  .brand__item {
    width: 228px;
  }
  .brand__item > img {
    max-width: 144px;
  }
  .footer__features {
    grid-template-columns: repeat(8, 1fr);
  }
  .footer__features-wrapper {
    margin: 0 auto;
    padding: 52px 0;
  }
  .features__item > svg {
    width: 60px;
    height: 60px;
  }
  .features__item-text {
    font-size: 16px;
  }
  .footer__links-phone {
    width: 234px;
  }
  .footer__links {
    height: 194px;
    padding: 0 36px;
  }
  .links__text > span {
    font-size: 18px;
  }
  .links__text > .bottom {
    font: 16px;
  }
  .markets__link {
    max-width: 142px;
    width: 142px;
  }
  .markets__link > svg {
    padding: 0;
    height: 100%;
    max-width: 118px;
  }
  .footer__links--right {
    gap: 70px;
  }
  .footer__links--right > img {
    width: 120px;
  }
  .footer__info {
    flex-direction: row;
    align-items: flex-start;
    gap: 48px;
  }
  .footer__wrapper--top {
    max-width: 1440px;
  }
  .info__logo {
    max-width: 214px;
    width: 100%;
  }
  .footer__bottom-wrapper {
    flex-direction: row;
    max-width: 1440px;
    gap: 48px;
  }
  .footer__bottom-links {
    flex-direction: row;
    gap: 36px;
    margin-top: 0;
  }
  .company__heading.support {
    margin: 0 0 12px;
  }
  .footer__socials.mobile {
    display: none;
  }
  .footer__socials {
    margin: 0;
  }
  .footer__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 240px;
  }
  .footer__contacts-btn {
    width: 100%;
  }
  .company__link {
    width: 220px;
  }
  .footer__last {
    flex-direction: row;
    gap: 48px;
    max-width: 1440px;
  }
  .footer__last-rate {
    margin-top: 0;
  }
  .footer__last-rate > span {
    width: max-content;
  }
  .last-rate__image {
    margin-bottom: 24px;
  }
  .footer__last-text {
    width: 100%;
    max-width: 240px;
    margin-bottom: 6px;
  }
  .last-text__wrap {
    display: flex;
    flex-direction: column;
    max-width: 235px;
    width: 100%;
  }
  .footer__last-text.second {
    color: #8b96a3;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0;
  }
  .footer__bottom {
    padding: 36px 0 24px;
  }
  #circle-slider {
    margin-top: -20px;
    background-color: #13181e;
    max-width: none;
  }
  #circle-slider-track {
    margin: 0 auto;
  }
  .splide__pagination {
    bottom: 2em !important;
  }
}

@media (min-width: 1080px) {
  .company__link {
    width: 260px;
  }
}
